{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .btn-radius{
        border: 3px solid rgba(100, 100, 100, 0.1);
        border-radius: 3rem;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        width: 130px;
        transition: 0.6s;
    }
    .btn-azul{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
    }
    .btn-mora{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #A950A1, #2D3A54, #A950A1);
    }
    .btn-rosa{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #ffcae3, #ff499d, #ffcae3);
    }
    .btn-naranja{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #ff5733, #b81b57, #ff5733);
    }
    .btn-radius:hover{
        background-position: right;
    }
    span h1{
        padding: 0px;
    }
</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header mb-4">
				<h4 class="page-title">Boletin Info</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Boletin Info</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Crear Boletin</a>
					</li>
				</ul>
			</div>
			<div class="page-category">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h2 class="m-0 font-weight-bold text-dark">Boletines</h2>
                        <div class="dropdown no-arrow d-flex flex-row">
                            <a href="{% url 'homeviews' %}" id="add-boletin" class="btn-radius btn-azul mr-2" style="display:block;text-align:center;text-decoration:none;color:whitesmoke;"><span>Agregar</span></a>
                            <a href="{% url 'homeviews' %}" id="add-boletin" class="btn-radius btn-mora" style="display:block;text-align:center;text-decoration:none;color:whitesmoke;"><span>Vaciar</span></a>
                            
                        </div>
                    </div>
                    
                    <!-- Card Body -->
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden >Name</th>
                                        <th hidden>descripcion_texto</th>
                                        
                                    </tr>
                                </thead>
                                
                                <tbody id="idtbody">
                                    {% for item in data %}
                                    <tr>
                                        
                                        <td hidden>{{ item.titulo }}</td>
                                        <td>
                                            <div class="card shadow mb-1 mt-2">
                                                <!-- Card Header - Accordion -->
                                                <a href="#collapseCard1" class="d-block card-header py-3 d-flex align-items-center justify-content-between " data-toggle="collapse" style="text-decoration:none"
                                                    role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    {% if item.status == 0 %}
                                                        <span class="m-0 font-weight-bold text-dark"> <i class='fas fa-lock mr-2' style='font-size:30px;color:#d7b814;'></i> Titulo: {{ item.titulo | safe }} <i class='fas fa-calendar ml-2'></i>fecha Inicio: {{ item.fech_inicio }}</span>
                                                    {% else %}
                                                        <span class="m-0 font-weight-bold text-dark"> <i class='fas fa-lock-open mr-2' style='font-size:30px;color:#09c943;'></i> Titulo: {{ item.titulo | safe }} <i class='fas fa-calendar ml-2'></i>fecha Inicio: {{ item.fech_inicio }}</span>
                                                    {% endif %}
                                                    <div class="btn-group">
                                
                                                        <button type="button" onclick="open_edit('{{item.id_boletin}}')" class="btn btn-icon btn-sm btn-azul" id="openedit" data-toggle="tooltip" data-placement="top" title="Editar">
                                                            <i class="fas fa-edit" style="color:whitesmoke;"></i>
                                                         </button>
                                                        <button type="button" class="btn btn-icon btn-sm btn-naranja" onclick="open_delete('{{item.id_boletin}}')" id="openDelete" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                           <i class="fas fa-trash-alt" style="color:whitesmoke;"></i>
                                                        </button>
                                                        
                                                    </div>
                                                    
                                                </a>
                                            
                                            
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>

                <div class="modal fade" id="addboletinModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div id="addboletinModalContent" class="modal-dialog  modal-dialog-centered" role="document">
                
                    </div>
                </div>

                
                
            </div>
		</div>
	</div>

    <script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
    
    <script src="/static/assets/js/plugin/demo/datatables-demo.js"></script>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        // variables del document
        let add_boletin = document.querySelector('#add-boletin')
        // endblock

        function open_edit(id){
            id = id
            
            if (id > 0) window.location.href = "{% url 'edit_boletin' id=123 %}".replace(/123/, id.toString());
            else alert("Ocurrio un Error")
                          
                        
        

        }

        function open_delete(id){
            
            fetch("{% url 'acciones_boletin' %}", {
                ...fetchObject,
                    body: JSON.stringify({
                        acceso:"delete",
                        id
                    })
            })
            .then(async(res)=>{
                
                const text = JSON.parse(await res.text())
                if (text.message == "error") alert("Ocurrio un Error")
                else window.location.href = "{% url 'createBoletin' %}"
                          
                        
            })
        }

        

    </script>


{% endblock javascripts %}