
{% load i18n %}
<!--   Core JS Files   -->
<script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
<script src="/static/assets/js/core/sortable.js"></script>

<!-- jQuery UI -->
<script src="/static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
    integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

<!-- jQuery Sparkline -->
<script src="/static/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="/static/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="/static/assets/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="/static/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="/static/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

<!-- Sweet Alert -->
<script src="/static/assets/js/plugin/sweetalert/sweetalert.min.js"></script>



<!-- Atlantis JS -->
<script src="/static/assets/js/atlantis.min.js"></script>

<!-- Jquery validator -->
<script src="/static/assets/js/jqueryvalidator.js"></script>

<!-- Jquery validator methods -->
<script src="/static/assets/js/jqueryvalidatormethods.js"></script>

<!-- Summernote -->
<script src="/static/assets/js/summernote-bs4.min.js"></script>

<!-- Owl-Carousel-->
<script src="/static/assets/js/owl.carousel.min.js"></script>

<!-- Dropzone-->

<script src="/static/assets/js/dropzone.js"></script>

<!-- TagInput -->
<script src="/static/assets/js/bootstrap-tagsinput.js"></script>

<!-- slider Carusel Swiper.js -->
<script src="/static/assets/js/plugin/swiper_bundle.js"></script>

<!-- CKeditor -->
<script src="/static/assets/js/ckeditor/ckeditor-init.js"></script>
<script src="/static/assets/js/ckeditor/ckeditor.js"></script>

<script>
	//con mensajitos
	function setLoading() {

		var element = document.getElementById("loaderManueljuju");

		element.classList.add("lds-ring");
		

	}
	function stopLoading() {

		var element = document.getElementById("loaderManueljuju");
		element.classList.remove("lds-ring");
	}
	function alerta(tipoAlerta) {
		if (tipoAlerta === 1) {
			swal("Bien Hecho!", "Registro fue guardado satisfactoriamente!",
				{
					icon: "success",
					buttons: {
						confirm: {
							className: 'btn btn-success'
						}
					},
				});
		}
	}
	function alertaMensajitos(tipoAlerta, tittle, mssg) {
		if (tipoAlerta === 1) {
			swal(tittle, mssg,
				{
					icon: "success",
					buttons: {
						confirm: {
							className: 'btn btn-success'
						}
					},
				});
		}
		if (tipoAlerta === 2) {
			swal(tittle, mssg,

				{
					icon: "success",
					buttons: {
						confirm: {
							className: 'btn btn-success'
						}
					},
				});
		}
		if (tipoAlerta === 7) {
			swal(tittle, mssg,

				{
					icon: "warning",
					buttons: {
						confirm: {
							className: 'btn btn-success'
						}
					},
				});
		}
		if (tipoAlerta === 3) {
			return swal({
				title: tittle,
				text: mssg,
				type: 'warning',
				icon: "warning",
				buttons: {
					confirm: {
						text: 'Yes, delete it!',
						className: 'btn btn-success'
					},
					cancel: {
						visible: true,
						className: 'btn btn-danger'
					}
				}
			})
		}

		if (tipoAlerta === 6) {
			return swal({
				title: tittle,
				text: mssg,
				type: 'warning',
				icon: "warning",
				buttons: {
					confirm: {
						text: 'Si',
						className: 'btn btn-success'
					},
					cancel: {
						text: 'No',
						visible: true,
						className: 'btn btn-danger'
					}
				}
			})
		}
		if (tipoAlerta === 4) {
			swal({
				title: tittle,
				text: mssg,
				type: 'success',
				icon: 'success',
				buttons: {
					confirm: {
						className: 'btn btn-success'
					}
				}
			});
		}
		if (tipoAlerta === 5) {
			swal({
				title: tittle,
				text: mssg,
				icon: 'error',
				buttons: {
					confirm: {
						className: 'btn btn-danger'
					}
				}
			});
		}
	}
    //FUNCION PARA OBTENER EL CRSFTOKEN DESDE JS EN CASO DE USAR AJAX
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	const fetchObject = {
		headers: {
			'Accept': 'application/json',
			'X-Requested-With': 'XMLHttpRequest',
			"X-CSRFToken": getCookie('csrftoken')
		},
		mode: 'same-origin',
		method: 'POST',
	}
    // end-function

	
	const spinnerBar = () =>`
                     <div class="text-center">
                        <h1>{% translate 'Cargando' %}...</h1>
                        <div class="progress">
                           <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                     </div>`;
					 
   const makeMessage = (tipo = -1, titulo, cuerpo, icon = null)=>{

		const state = tipo === 1 ? 'success' : tipo == 2 ? 'primary' : tipo == 3 ? 'warning' : tipo == 4 ? 'danger' : 'default';
		const content = {};
		content.message = cuerpo;
		content.title = titulo;

		if (icon) {

		content.icon = icon;

		} else {

		content.icon = 'fa fa-bell';

		}
		// content.url = 'index.html';
		// content.target = '_blank';

		$.notify(content,{
		type: state,
		placement: {
			from: 'top',
			align: 'right'
		},
		time: 1000,
		// delay: 0,
		});

	}

	
 
   const openCarrusel = (id = -1) => {
      
            // $("#addNewCarrusel").modal("show")
      fetch("{% url 'helping:modalAddCarruserl'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id
         })
      })
      .then(res => res.text())
      .then(text => {

         if(text){

            document.getElementById("carruselAyudaContenido").innerHTML = text
            $('.carousel').carousel({interval: 0})
            $("#carruselAyuda").modal("show")

         }else

            makeMessage(4, "{% translate 'Alerta' %}!", "{% translate 'No hay paginas asignadas para esta ayuda' %}", 'fa fa-exclamation-triangle')

      })

   }
</script>
