{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

   @media(max-width: 800px){

      .card-list-item-title {
         font-size: 5vw;
      }
   }

   .carousel-indicators>li.active{
      opacity: 100%;
   }

   .carousel-indicators>li{
      opacity: 25%;
   }

   .needs-validation.was-validated .form-control:valid{
      background-position: right calc(.375em + .1875rem) center;
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
   }
   
   .needs-validation.was-validated .form-control:invalid{
      background-position: right calc(.375em + .1875rem) center;
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
   }

   .needs-validation.was-validated .custom-select:valid{
      background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat,#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem) no-repeat;
   }

   .needs-validation.was-validated .custom-select:invalid{
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat,#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem) no-repeat;
   }

   .btn-radius{
        border: 3px solid rgba(100, 100, 100, 0.1);
        border-radius: 3rem;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        width: 130px;
        transition: 0.6s;
    }
    .btn-azul{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
    }
    .btn-mora{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #A950A1, #2D3A54, #A950A1);
    }
    .btn-rosa{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #ffcae3, #ff499d, #ffcae3);
    }
    .btn-naranja{
        background: none;
        background-size: 300%;
        background-image: linear-gradient(to left, #ff5733, #b81b57, #ff5733);
    }
    .btn-radius:hover{
        background-position: right;
    }

    
   @media(max-width: 400px){

      #collapseCardSearch {

         padding-left: 0!important;
         padding-right: 0!important;

      }

      div.d-flex.justify-content-around > button > strong{

         display: none;

      }

      div.d-flex.justify-content-around > button > i{

         margin-right: 0!important;

      }

      #paginas > select{

         margin-right: 0!important;

      }

      #paginas > ul{

         flex-wrap: wrap;
      }

      #paginas {

         flex-wrap: wrap;
         justify-content: center;
      }
/* 
      .input-group.mb-3{

         transform: scale(0.775);
         transform-origin: 0 0;
         width: 125%;

      } */

   }

</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner">

      <div class="page-header mb-4">
         <h4 class="page-title">{% translate "Ayudas" %}</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'Dashboard' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'configuracion' %}"><span>{% translate "Configuracion" %}</span></a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="#">{% translate "Ayudas" %}</a>
            </li>
         </ul>
      </div>
      
      <div class="page-category">

            <main class="card shadow mb-4">

               <section class="card-header">

                  <!-- <form class="form-group w-100 d-flex flex-column" id="formSearch">
                     <div class="input-group py-2">
                        <input id="txtSearch" name="txtSearch" type="text" class="form-control" placeholder="{% translate 'Buscar' %}...">
                        <div class="input-group-append">
                           <span id="clearBtn" class="btn btn-danger" title="{% translate 'Limpiar' %}">
                              <i class="fa fa-broom"></i>
                           </span>
                           <span id="searchBtn" class="btn btn-primary" title="{% translate 'Buscar' %}">
                              <i class="fa fa-search"></i>
                           </span>
                        </div>
                     </div>
                  </form> -->

                  <!-- <div class="card shadow mb-1 mt-2"> -->
                     <!-- Card Header - Accordion -->
                     <a href="#collapseCardSearch" class="d-block d-flex align-items-center justify-content-between collapsed px-5" data-toggle="collapse" style="text-decoration:none" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        <h3 class="m-0 font-weight-bold text-dark"> <i class="fa fa-search mr-1" style="color:rgb(0, 119, 255);"></i>Buscar...</h3>
                        <i class="fa fa-angle-down fa-2x" style="color:rgb(0, 119, 255);"></i>
                     </a>
                     
                     <!-- Card Content - Collapse -->
                     <div class="collapse px-5" id="collapseCardSearch">

                        <form class="form-group" id="formFiltro">

                           <!-- <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                              <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="eliminarFiltro(this)">Button</button>
                              </div>
                           </div>

                           <div class="input-group mb-3">
                              <select class="form-control" id="inputGroupSelect04" aria-label="Example select with button addon">
                                 <option selected>Choose...</option>
                                 <option value="1">One</option>
                                 <option value="2">Two</option>
                                 <option value="3">Three</option>
                              </select>
                              <div class="input-group-append">
                                 <button class="btn btn-outline-primary" type="button" onclick="eliminarFiltro(this)">Button</button>
                              </div>
                           </div> -->

                        </form>

                        <div class="d-flex justify-content-around">

                           <button class="btn btn-success" type="button" onclick="anadirFiltro()"><i class="fas fa-plus mr-1"></i><strong>{% translate 'Agregar' %}</strong></button>
                           
                           <button class="btn btn-primary" id="btnFiltro" type="button" onclick="buscarFiltro()"><i class="fa fa-search mr-1"></i><strong>{% translate 'Buscar' %}</strong></button>
                           
                           <button class="btn btn-danger" type="button" onclick="eliminarFiltroAll()"><i class="fa fa-eraser mr-1"></i><strong>{% translate 'Limpiar' %}</strong></button>

                        </div>
                     </div>
                 <!-- </div> -->
                  
               </section>
               
               <section class="card-body p-5">

                  <ul class="card-list">
                     <li class="card-list-item">
                        <div class="card-list-item-inner">
                           <div class="card-list-item-title">{% translate "Agregar nueva ayuda" %}</div>
                           <div class="card-list-item-actions">
                              <div onclick="openAddAyuda()" class="btn btn-icon btn-success btn-round add-btn btn-card-lg">
                                 <i class="fas fa-plus"></i>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>

                  <ul class="card-list" id="listaPaginas">
                  </ul>
               </section>
               <section class="card-footer d-flex align-items-center" id="paginas">
                  <!-- <select class="form-control mr-5" id="inputGroupSelect04" aria-label="Example select with button addon">
                     <option selected>Choose...</option>
                     <option value="1">One</option>
                     <option value="2">Two</option>
                     <option value="3">Three</option>
                  </select> -->
                  {% include 'Helping/paginas.html' with plan=plan %}   
               </section>
            </main>
       
      </div>

   </div>
</div>


<!-- Modal nuevo ayuda -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="addNewModalAyuda">



   </div>
</div>
<!-- Modal lista paginas -->
<div class="modal fade" id="addChooseActivities" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="modalContentChoose">

   </div>
</div>

<!-- Modal editar paginas -->
<div class="modal fade" id="addNewTest" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="modalContentTest">


   </div>
</div>

<!-- modal pdf -->
<div class="modal note-modal" tabindex="-1" role="dialog" aria-label="Insert Pdf" style="padding-right: 17px;" id="pdfModal">
   <div class="modal-dialog" role="document" id="pdfModalContent">

   </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>

   // metodos para los filtros
   const eliminarFiltro = (e) => {

      const nodo = e.parentNode.parentNode
      nodo.parentNode.removeChild(nodo);

   }

   const eliminarFiltroAll = () => {

      if(!document.querySelector('.progress-bar')){

         const formFiltro = document.querySelector('#formFiltro')
         formFiltro.innerHTML = ""
         const btnFiltro = document.querySelector('#btnFiltro')
         btnFiltro.click()

      }else

         makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Debes esperar a que el contenido termine de cargarse' %}")

   }

   const anadirFiltro = () => {

      setLoading()   
      fetch("{% url 'helping:filtroLista' %}", {
         ...fetchObject,
      })
      .then(res => res.text())
      .then(text => {

         document.querySelector('#formFiltro').insertAdjacentHTML("beforeend", text)

      })
      .catch((err)=>{

         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

      })
      .finally(() => {

         stopLoading()

      })

   }

   const anadirFiltroHijo = (e) => {

      // const valor = e.options[e.selectedIndex].value
      
      // if(!document.querySelector(`input[name^=${valor}]`)){

         setLoading() 
         fetch("{% url 'helping:filtroElemento' %}", {
            ...fetchObject,
            body: JSON.stringify({

               valor: e.options[e.selectedIndex].value,
               tipo: e.options[e.selectedIndex].dataset.tipo,

            })
         })
         .then(res => res.text())
         .then(text => {
            
            if(text){

               const parent = e.parentNode
               parent.innerHTML = text
               parent.querySelector(':first-child').focus()

            }

         })
         .catch((err)=>{

            makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

         })
         .finally(() => {

            stopLoading()

         })

      // }

   }
   
   const buscarFiltro = (pag = -1) => {

      if(!document.querySelector('.progress-bar')){

         localStorage.setItem("rango", document.querySelector('#selectNumeracion').value);

         document.getElementById("listaPaginas").innerHTML = spinnerBar()
         fetch("{% url 'helping:filtrar' %}", {
            ...fetchObject,
            body: JSON.stringify({
               filtro: getFormFiltro(),
               numero: localStorage.getItem("rango"),
               pag: pag > 0 ? pag : document.querySelector('.page-item.active > a').dataset.number
            })
         })
         .then(res => res.json())
         .then(text => {
            
               document.getElementById("listaPaginas").innerHTML = text['contenido']
               document.querySelector("#paginas").innerHTML = text['pagina']

         })
         .catch((err)=>{

            makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

         })

      }else

         makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Debes esperar a que el contenido termine de cargarse' %}")
         
   }


   const getFormFiltro = () => {
      
      const formFiltro = document.querySelector('#formFiltro')
      const formData = new FormData(formFiltro);
      const data = Object.fromEntries(formData.entries())

      Object.keys(data).forEach((key) => {

         if(!data[key].trim())

            delete data[key]

      });

      return data

   }

   ///////////////////////// 

   document.addEventListener('keydown', (event) => {

      const keyValue = event.key;

      if(keyValue === 'ArrowDown' || keyValue === 'ArrowUp'){

         const dPrimary = $("#listaPaginasHijos div.bg-primary")

         if(dPrimary.length > 0){
            
            const btnUp = $("#listaPaginasHijos .bg-primary button.moveUp")
            const btnDown = $("#listaPaginasHijos .bg-primary button.moveDown")
            if(keyValue === 'ArrowDown')btnDown.click()
            if(keyValue === 'ArrowUp')btnUp.click()

         }


      }

   }, false);

   const copyLink = (id) => {

      fetch("{% url 'helping:copiarLInk' %}", {
         ...fetchObject,
         body: JSON.stringify({
            id
         })
      })
      .then(res => res.text())
      .then(text => {

         if(text){
               
            navigator.clipboard.writeText(text);
            makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Url copiada' %}", 'fa fa-clipboard')

         }else{
            
            makeMessage(4, "{% translate 'No se pudo copiar el url' %}", "{% translate 'No hay paginas asignadas para esta ayuda' %}", 'fa fa-unlink')

         }

      })
      .catch((err)=>{

         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

      })

   }

   const cargarAyuda = () => {

      document.getElementById("listaPaginas").innerHTML = spinnerBar()
      fetch("{% url 'helping:modalGuardarAyuda' %}", {
         ...fetchObject,
            body: JSON.stringify({
               numero: localStorage.getItem("rango"),
            })
      })
      .then(res => res.json())
      .then(text => {

         document.querySelector("#listaPaginas").innerHTML = text['contenido']
         document.querySelector("#paginas").innerHTML = text['pagina']

      })
      .catch((err)=>{

         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
         document.getElementById("listaPaginas").innerHTML = ""

      })

   }

   // const buscarAyuda = (data) => {

   //    document.getElementById("listaPaginas").innerHTML = spinnerBar()
   //    fetch("{% url 'helping:modalBuscarAyuda' %}", {
   //       ...fetchObject,
   //       body: JSON.stringify({
   //          data
   //       })
   //    })
   //    .then(res => res.text())
   //    .then(text => {
         
   //       document.getElementById("listaPaginas").innerHTML = text

   //    })
   //    .catch((err)=>{

   //       makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
   //       document.getElementById("listaPaginas").innerHTML = ""

   //    })

   // }

   $(document).ready(function () {

      cargarAyuda()

      const formFiltro = document.querySelector('#formFiltro')
      
      formFiltro.addEventListener("submit", (e) => {

         e.preventDefault()

      })

      // const formSearch = document.getElementById('formSearch')
      // const clearBtn = document.getElementById('clearBtn')
      // const searchBtn = document.getElementById('searchBtn')
      // const searchInput = document.getElementById('txtSearch')

      // formSearch.addEventListener("submit", (e) => {

      //    e.preventDefault()

      //    if(searchInput.value && !document.querySelector('.progress-bar')){

      //       const formData = new FormData(formSearch);
      //       const data = Object.fromEntries(formData.entries())
      //       buscarAyuda(data)

      //    }else if(document.querySelector('.progress-bar'))

      //       makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Debes esperar a que el contenido termine de cargarse' %}")
         
      // })

      // clearBtn.addEventListener("click", (e) => {

      //    if(searchInput.value && !document.querySelector('.progress-bar')){

      //       cargarAyuda()
      //       formSearch.reset()

      //    }else if(document.querySelector('.progress-bar'))

      //       makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Debes esperar a que el contenido termine de cargarse' %}")

      // })

      // searchBtn.addEventListener("click", (e) => {

      //    if(searchInput.value && !document.querySelector('.progress-bar')){

      //       const formData = new FormData(formSearch);
      //       const data = Object.fromEntries(formData.entries())
      //       buscarAyuda(data)

      //    }else if(document.querySelector('.progress-bar'))

      //       makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Debes esperar a que el contenido termine de cargarse' %}")

      // })

   });

   const showChilds = (fk, id = -1) => {

      setLoading()
      fetch("{% url 'helping:modalAddPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id,
            fk
         })
      })
      .then(res => res.text())
      .then(text => {

         document.getElementById("modalContentTest").innerHTML = text
         $("#addNewTest").modal("show")
         $("#listaPaginasHijos>li>div.bg-primary").removeClass("bg-primary");

         $(`#summernote`).summernote({
            dialogsInBody: true,
            height: 600,
            placeholder: "{% translate 'Escriba su contenido aqui...' %}",
            disableDragAndDrop: true,
            disableResizeEditor: true,
            toolbar: [
               ['style', ['style']],
               ['font', ['bold', 'underline', 'clear']],
               ['fontname', ['fontname']],
               ['color', ['color']],
               ['para', ['ul', 'ol', 'paragraph']],
               ['table', ['table']],
               ['insert', ['picture']],
               ['mybutton', ['hello']],
            ],
            buttons: {
               hello: HelloButton
            },
            callbacks: {

               onImageUpload: async function(image){
               
               const data = await image[0]
               const img = new File([data], data.name.replace(/[^a-zA-Z0-9. ]/g, ''), {type: data.type});
               let val = true;

               if((img['size'] / 1000) > 3000){

                  val = false;
                  makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Seleccione una imagen menor a 3Mb' %}", 'fa fa-exclamation-triangle')

               }

               if(img['type'] != 'image/jpeg' && img['type'] != 'image/png'){

                  val = false;
                  makeMessage(3,"{% translate 'Alerta' %}","{% translate 'Seleccione una imagen en formato png o jpeg' %}", 'fa fa-exclamation-triangle')

               }

               if(val)

                  subirImagen(img)

               },
               // onMediaDelete : function(target) {
               //    // borrarImagen($(target[0]).attr('src'))
               // },
               
               onPaste: function (e) {

                  var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                  e.preventDefault();
                  $('#summernote').summernote('pasteHTML', bufferText);

               }
            }
         });

         const subirImagen = (file) =>{
               
         data = new FormData();
         data.append("imagen", file);

            fetch("{% url 'helping:modalGuardarImagen' %}", {
               ...fetchObject,
               body:
                  data
            })
            .then(res => res.text())
            .then(text => {

               const img = text

               if (img)

                  $('#summernote').summernote("pasteHTML", img);
               
               else

                  makeMessage(4,"{% translate 'Error' %}","{% translate 'Algo ha ocurrido al subir el archivo al servidor' %}", 'fa fa-exclamation-triangle')

            })
            .catch((err)=>{

               makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

            })
         
         }

         // const borrarImagen = (file) =>{

         //    fetch("{% url 'helping:modalEliminarImagen' %}", {
         //       ...fetchObject,
         //       body:JSON.stringify({
         //          file
         //       })
         //    }).then(async (res) => {
               
         //    })
         
         // }

         const formPaginas = document.getElementById("formPaginas")
         formPaginas.addEventListener("submit", (e) => {

            e.preventDefault()

            if (!$('#summernote').summernote('isEmpty')){

               const formData = new FormData(formPaginas);
               const data = Object.fromEntries(formData.entries())

               setLoading()
               fetch("{% url 'helping:modalGuardarPagina' %}", {
                  ...fetchObject,
                  body: JSON.stringify({
                     data,
                     id,
                     fk
                  })
               })
               .then(res => res.text())
               .then(text => {

                  if(document.getElementById("modalContentChoose"))

                     document.getElementById("modalContentChoose").innerHTML = text

                  $("#addNewTest").modal("hide")
                  makeMessage(1,"{% translate 'Muy Bien!' %}","{% translate 'Registro guardado' %}", "fa fa-check")

               })
               .catch((err)=>{

                  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

               }).finally(() => {

                  stopLoading()                  

               })

            }else

               makeMessage(4,"{% translate 'Alerta' %}","{% translate 'Debes agregar algun contenido...' %}")
            
         })

      })
      .catch((err)=>{

         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

      })
      .finally(() => {

         stopLoading()

      })

   }
  
   const HelloButton = function (context) {

      const ui = $.summernote.ui;
      // create button
      const button = ui.button({
         contents: '<i class="far fa-file-pdf"></i>',
         tooltip: 'Pdf',
         click: function () {

            setLoading()
            fetch("{% url 'helping:modalPdf'%}", {
               ...fetchObject,
            })
            .then(res => res.text())
            .then(text => {

               if(text){
                     
                  document.getElementById("pdfModalContent").innerHTML = text
                  const pdfFile = document.getElementById("pdfFile")
                  
                  pdfFile.addEventListener("change", (e) => {
               
                     const pdf = new File([pdfFile.files[0]], pdfFile.files[0].name.replace(/[^a-zA-Z0-9. ]/g, ''), {type: pdfFile.files[0].type});
                     let val = true;

                     if(pdf['type'] != 'application/pdf'){

                        val = false;
                        alertaMensajitos(5, "{% translate 'Alerta' %}", "{% translate 'Seleccione un documento Pdf' %}")
                        $("#pdfModal").modal("hide")

                     }

                     if(val){
               
                        data = new FormData();
                        data.append("pdf", pdf);

                        fetch("{% url 'helping:modalGuardarPdf' %}", {
                           ...fetchObject,
                           body:
                              data
                        })
                        .then(res => res.text())
                        .then(text => {

                           if (text)

                              $('#summernote').summernote("pasteHTML", text);
                           
                           else

                              makeMessage(4, "{% translate 'Error' %}", "{% translate 'Algo ha ocurrido al subir el archivo al servidor' %}", 'fa fa-exclamation-triangle')

                        })
                        .catch((err)=>{

                           makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                        })
                        .finally(() => {

                           $("#pdfModal").modal("hide")

                        });

                     }

                  })

                  $("#pdfModal").modal("show")

               }

            })
            .catch((err)=>{

               makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

            })
            .finally(() => {

               stopLoading()

            })

         }

      });

      return button.render();   // return button as jquery object
      
   } 

   const openAddActivity = (id) => {
      
      setLoading()
      fetch("{% url 'helping:modalHijosPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id
         })
      })
      .then(res => res.text())
      .then(text => {

         document.getElementById("modalContentChoose").innerHTML = text
         $("#addChooseActivities").modal("show")

      })
      .catch((err) => {
         
         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

      })
      .finally(() => {

         stopLoading()

      })
      
   }

   
   const openDeleteAyuda = async (id) => {

      const elimino = await alertaMensajitos(6, "{% translate 'Atencion!' %}", "{% translate 'Desea eliminar este archivo' %}")

      if (elimino) {

         document.getElementById("listaPaginas").innerHTML = spinnerBar()

         fetch("{% url 'helping:modalEliminarAyuda'%}", {
            ...fetchObject,
            body: JSON.stringify({
               id,
               numero: localStorage.getItem("rango"),
               pag: document.querySelector('.page-item.active > a').dataset.number,
               filtro: getFormFiltro(),
            })
         })
         .then(res => res.json())
         .then(text => {
            
            document.querySelector("#listaPaginas").innerHTML = text['contenido']
            document.querySelector("#paginas").innerHTML = text['pagina']
            makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Archivo eliminado satisfactoriamente' %}", 'fas fa-trash-alt')

         })
         .catch((err) => {
            
            makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
            document.getElementById("listaPaginas").innerHTML = ""

         })

      }

   }
   
   const showContent = (id) => {
      let contenido = document.getElementById(`contentAyuda${id}`)
      contenido.classList.toggle("card-list-item-close")
   }

   const openDeleteHijos = async (fk, id) => {

      const elimino = await alertaMensajitos(6, "{% translate 'Atencion!' %}", "{% translate 'Desea eliminar este archivo' %}")

      if (elimino) {

         setLoading()
         fetch("{% url 'helping:modalEliminarHijoPagina'%}", {
            ...fetchObject,
            body: JSON.stringify({
               id,
               fk
            })
         })
         .then(res => res.text())
         .then(text => {
            
            document.getElementById("modalContentChoose").innerHTML = text
            makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Archivo eliminado satisfactoriamente' %}", 'fas fa-trash-alt')
            
         })
         .catch((err) => {
            
            makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

         }).finally(() => {

            stopLoading()

         })

      }

   }
 
 
   // const openCarrusel = (id = -1) => {
      
   //          // $("#addNewCarrusel").modal("show")
   //    fetch("{% url 'helping:modalAddCarruserl'%}", {
   //       ...fetchObject,
   //       body: JSON.stringify({
   //          id
   //       })
   //    })
   //    .then(res => res.text())
   //    .then(text => {

   //       if(text){

   //          document.getElementById("addNewCarruselContenido").innerHTML = text
   //          $('.carousel').carousel({interval: 0})
   //          $("#addNewCarrusel").modal("show")

   //       }else

   //          makeMessage(4, "{% translate 'Alerta' %}!", "{% translate 'No hay paginas asignadas para esta ayuda' %}", 'fa fa-exclamation-triangle')

   //    })

   // }

   const openAddAyuda = (id = -1) => {
      
      setLoading()
      fetch("{% url 'helping:modalAddAyuda'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id
         })
      })
      .then(res => res.text())
      .then(text => {

         document.getElementById("addNewModalAyuda").innerHTML = text
         $("#addNewModal").modal("show")
         const formAyuda = document.getElementById("formAyuda")
         
         formAyuda.addEventListener("submit", (e) => {

            e.preventDefault()
            
            const formData = new FormData(formAyuda);
            const data = Object.fromEntries(formData.entries())

            if(data.titulo && data.descripcion && data.tipo && data.modulo){

               const titulo = data.titulo

               setLoading()
               fetch("{% url 'helping:validarTituloAyuda' %}", {
                  ...fetchObject,
                  body: JSON.stringify({
                     titulo,
                     id
                  })
               })
               .then(res => res.text())
               .then(text => {

                  if(text){
                     
                     setLoading()
                     fetch("{% url 'helping:modalGuardarAyuda' %}", {
                        ...fetchObject,
                        body: JSON.stringify({
                           data,
                           id,
                           numero: localStorage.getItem("rango"),
                           pag: document.querySelector('.page-item.active > a').dataset.number,
                           filtro: getFormFiltro(),
                        })
                     })
                     .then(res => res.json())
                     .then(text => {

                        document.querySelector("#listaPaginas").innerHTML = text['contenido']
                        document.querySelector("#paginas").innerHTML = text['pagina']
                        $("#addNewModal").modal("hide")
                        makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")

                     })
                     .catch((err) => {
                        
                        makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                     }).finally(() => {

                        stopLoading()

                     })

                  }else{

                     swal({
                        title: "{% translate 'Alerta!' %}",
                        text: "{% translate 'El titulo de esta ayuda ya existe, debes cambialo por otro' %}",
                        icon: 'error',
                        buttons: {
                           confirm: {
                              className: 'btn btn-danger'
                           }
                        },
                     }).then(() => {
                        
                        $('#descriptionTopic').focus()

                     })

                  }

               })
               .catch((err) => {
                  
                  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

               })
               .finally(() => {

                  stopLoading()

               })


            }else {

               formAyuda.classList.add('needs-validation', 'was-validated')
               formAyuda.removeAttribute('novalidate');

            }
               
         })
      })
      .catch((err) => {
         
         makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

      })
      .finally(() => {

         stopLoading()

      })
   }

   let movimiento = false
   const move = (fk, id, tipo) => {

      if(!movimiento){

         movimiento = true
         setLoading()
         fetch("{% url 'helping:modalPaginaMover'%}", {
            ...fetchObject,
            body: JSON.stringify({
               id,
               fk,
               tipo
            })
         })
         .then(res => res.text())
         .then(text => {
            
            document.getElementById("modalContentChoose").innerHTML = text
            $('#listaPaginasHijos div.bg-primary').focus()

         })
         .catch((err) => {
            
            makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

         })
         .finally(() => {

            movimiento = false
            stopLoading()

         })

      }

   }

   $(document).on('click','.page-link',(e) => {

      e.preventDefault()
      buscarFiltro(e.currentTarget.dataset.number)

   })

</script>
{% endblock javascripts %}