    <nav aria-label="...">
        <ul class="pagination mb-0  justify-content-end">
            {% if plan.number == 1 %}
                <li class="page-item disabled">
                    <!-- <a class="page-link" href="#">First</a> -->
                    <a class="page-link" href="#">Primero</a>
                </li>
            {% else %}
                <li class="page-item">
                    <!-- <a class="page-link" href="?page={{ 1 }}">First</a> -->
                    <a class="page-link" href="?page={{ 1 }}">Primero</a>
                </li>
            {% endif %}
            {% if plan.has_previous %}
            <li class="page-item">
                <!-- <a class="page-link" href="?page={{ plan.previous_page_number }}">Previous</a> -->
                <a class="page-link" href="?page={{ plan.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <!-- <a class="page-link" href="#">Previous</a> -->
                <a class="page-link" href="#">Anterior</a>
            </li>
            {% endif %}
            {% for i in plan.paginator.page_range %}
                {% if plan.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% elif i > plan.number|add:'-3' and i < plan.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if plan.has_next %}
                <li class="page-item">
                    <!-- <a class="page-link" href="?page={{ plan.next_page_number }}">Next</a> -->
                    <a class="page-link" href="?page={{ plan.next_page_number }}">Siguiente</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <!-- <a class="page-link" href="#">Next</a> -->
                    <a class="page-link" href="#">Siguiente</a>
                </li>
            {% endif %}
            {% if plan.number == plan.paginator.num_pages %}
                <li class="page-item disabled">
                    <!-- <a class="page-link" href="#">Last</a> -->
                    <a class="page-link" href="#">Ultimo</a>
                </li>
            {% else %}
                <li class="page-item">
                    <!-- <a class="page-link" href="?page={{ plan.paginator.num_pages }}">Last</a> -->
                    <a class="page-link" href="?page={{ plan.paginator.num_pages }}">Ultimo</a>
                </li>
            {% endif %}
        </ul>
    </nav>