{% extends "baseexternal.html" %}

{% block title %} Register {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}<script src="/static/assets/js/modules/security/validations.js"></script>{% endblock javascripts %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="row col-md-6 d-flex justify-content-center">
      {% if urlimage %}
            <img src="{{ urlimage }}" style="width: 20rem;" class="navbar-brand mt-5">
        {% else %}
            <img src="{{ imageLocal }}" style="width: 20rem;" class="navbar-brand mt-5">
        {% endif %}
        <div class="card" style="width: 30rem;">
            <div class="card-header bg-dark2">
                <div class="card-title">

                    {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                    <span style="color: white">
                        {% block titulo %}Solicitud de Recuperacion de Cuenta{% endblock %}
                    </span>
                    {% endif %}

                </div>
            </div>

            <form method="post" action="">

                {% csrf_token %}

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                            {% block mensaje %}Por favor ingresa tu respuesta secreta{% endblock %}
                            </div>
                             <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-question"></i>
                                        </span>
                                    </div>
                                    <input disabled class="form-control" value="{{ question }}" name="question" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                        <input name="secrettext" id="secrettext" type="password" class="form-control" placeholder="Tu respuesta" required>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="btn bg-dark2 btn-lg btn-block" style="color: white">Recuperar Cuenta</button>
                </div>
            </form>
        </div>
    </div>    
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->