{% extends "layouts/base.html" %}
{% load static%}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<link rel="stylesheet" href="/static/assets/css/swiper_bundle.css">
	<style>
		#gestor .card{
			background-image: url('/static/assets/img/bg-card.jpg');
			height: 100%;
		}
		.product-stripe{
            overflow-x: hidden;
            overflow-y: hidden;
            height: 180px;
            
        }
        
        .stripe-container{
            transform: translateX(-0);
            animation: slider 15s infinite;
        }

		/* css btn close boletinModal */
		#btn-modal-close{
                position: absolute;
                z-index: 1000;
                top: 0px;
				left: 450px;
                background:linear-gradient(to bottom, var(--color_nav_top_l), var(--color_nav_top_r));
                width: 64px;
                height: 64px;
                color: #fff;
                text-align: center;
                border-radius: 50%;
                transition: all .2s;
                opacity: 1
            }


            #btn-modal-close:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            
            .close .ocultar{
                opacity: 0;
                visibility: hidden;
            }
            .close .mostrar{
                opacity: 1;
                visibility: visible;
            }
		/* endblock */

		/* codigo css para las tarjetas dinamicas */
		:root{
		--blanco:#fff;
		}

		.background-top-row{
			background: rgba(52, 3, 45, 0.3);
			backdrop-filter: blur(.4rem);
		}

		

		.content-card{
			display: flex;
			justify-content: center;
			height: 90vh;
			align-items: center;
		}

		.card-dinamica{
			position: relative;
			width: 20rem;
			height: 430px;
		}

		.card-dinamica .face{
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 10px;
			overflow: hidden;
			transition: .5s;
		}

		.card-dinamica .front1{
			transform: perspective(600px) rotateY(0deg);
			box-shadow: 0 5px 10px rgb(245, 237, 237);
		}

		.card-dinamica .front1 img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.card-dinamica .front1 h3{
			position: absolute;
			bottom: 0;
			width: 100%;
			padding-top: 0px;
			
			color: #fff;
			background: rgba(0, 0, 0, .4);
			text-align: center;
			margin-bottom: 0px;
		}

		.card-dinamica .card-black{
			transform: perspective(600px) rotateY(180deg);
			background-color: rgba(255, 255, 255, 0.060);
			border-radius: 1rem;
			box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			
			overflow: hidden;
			width: 20rem;
			backdrop-filter: blur(1rem);
			border: .1rem solid rgba(255, 255, 255, 0.18);
			color: var(--blanco);
		}

		.card-black h6{
			letter-spacing: .1rem;
			text-transform: uppercase;
		}

		.card-black h2{
			letter-spacing: .1rem;
			
		}

		.top-row{
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		.top-row i{
			font-size: 2rem;
		}

		.content-black{
			padding: 2rem;
			/* width: 100%; */
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}

		.content-black p{
			font-size: .9rem;
		}

		.content-black .button{
			border-radius: 3rem;
			color: var(--blanco);
			font-size: .8rem;
			padding: .5rem 4rem;
			letter-spacing: .1rem;
			align-self: flex-end;
			cursor: pointer;
			border: .1rem solid rgba(255, 255, 255, .18);
		}

		.content-black button a{
			text-decoration: none;
		}

		.card-dinamica:hover .front1{
			transform: perspective(600px) rotateY(180deg);
		}

		.card-dinamica:hover .card-black{
			transform: perspective(600px) rotateY(360deg);
		}

		.card{
    		background-size: cover;
			background-position:center;
			background-blend-mode: normal;
			overflow: hidden;
		}

		/* endblock */

		/* codigo Css para el carusel swiper del boletin informativo  */

		.swiperContainer  {
        position: relative;
        height: 100vh;
		}

		.swiper {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* Center slide text vertically */
			/* display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center; */
			align-items: center;
		}

		.swiper-slide .card img {
			display: block;
			/* width: 30%; */
			/* height: 100%; */
			object-fit: cover;
		}

		.grid-slide{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			/* grid-auto-rows: minmax(100px, auto); */
			/* align-items: stretch; */
		}

		.cont-title{
			grid-column: 1/4;
			padding-bottom: 20px;
		}

		.cont-title h1, .cont-title h2{
			padding: 0;
		}

		.cont-texto{
			grid-column: 2/4;
		}
		.contenedor-img{
			width: 380px;
			overflow-x: hidden;
			/* position: absolute; */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-top: -49px;
			
		}

		.contenedor-img img{	
			object-fit: contain;
			
		}

		.grid-slide .cont-texto p{
			text-align:justify;
		}

        /* endblock */
		.layout_padding {
			padding: 75px 0;
		  }
		  
		  .layout_padding2 {
			padding: 45px 0;
		  }
		  
		  .layout_padding2-top {
			padding-top: 45px;
		  }
		  
		  .layout_padding-top {
			padding-top: 75px;
		  }
		  
		  .layout_padding-bottom {
			padding-bottom: 75px;
		  }
		  
		  .call_to-btn {
			display: inline-block;
			padding: 12px 20px;
			border-radius: 10px;
			font-size: 15px;
			text-transform: uppercase;
			background-color: #fec913;
			border: 1px solid transparent;
			color: #fff;
			transition: all 0.3s ease 0s;
		  }
		  
		  .hero_section .call_to-btn {
			padding: 12px 35px;
		  }
		  
		  .call_to-btn img {
			width: 18px;
			margin-left: 10px;
		  }
		  
		  .btn_on-hover {
			transition: all 0.3s ease 0s;
		  }
		  
		  .call_to-btn:hover,
		  .btn_on-hover:hover {
			color: #fff;
			-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
			-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
			box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
			color: #fff;
			transform: translateY(-7px);
		  }
		  
		  .main-heading {
			color: #082465;
			font-weight: bold;
			text-align: center;
		  }
		  
		  /*header section*/
		  
		  
		  
		  
		  a,
		  a:hover,
		  a:focus {
			text-decoration: none;
		  }
		  
		  a:hover,
		  a:focus {
			color: initial;
		  }
		  
		  .btn,
		  .btn:focus {
			outline: none !important;
			box-shadow: none;
		  }
		  
		  .top_container {
			height: 95vh;
			position: relative;
		  }
		  
		  .top_container::before {
			content: "";
			position: absolute;
			width: 48%;
			height: 100%;
			background: url(..{% static 'assets/img/hero-bg.png' %});
			background-size: cover;
			background-position: right bottom;
			background-repeat: no-repeat;
			z-index: -1;
		  }
		  
		  .top_container.sub_pages::before {
			background-size: 400px 200px;
			background-position: top left;
		  }
		  
		  .top_container.sub_pages {
			height: 35vh;
		  }
		  
		  .top_container.sub_page {
			height: auto;
		  }
		  
		
		  /*end header section*/
		  
		  /* hero section */
		  .hero-container {
			display: flex;
			padding-top: 50px;
			padding-bottom: 75px;
		  }
		  
		  .hero_detail-box {
			width: 45%;
		  }
		  
		  .hero_img-container {
			width: 55%;
		  }
		  
		  .hero_detail-box {
			color: #fefeff;
		  }
		  
		  .hero_detail-box h1 {
			text-transform: uppercase;
			font-size: 50px;
			color: #fec913;
			font-weight: bold;
		  }
		  
		  
		  .hero_detail-box p {
			margin-top: 20px;
			margin-bottom: 35px;
		  }
		  
		  
		  /* end hero section */
		  
		  /* about section */
		  .about_img-box {
			width: 65%;
			margin: 40px auto;
		  }
		  
		  /* about section */
		  
		  /* teacher container */
		  .teacher_section .card {
			border: none;
			background-color: transparent;
		  }
		  
		  .teacher_section .card-title {
			text-align: center;
			color: #48494a;
		  }
		  
		  /* end teacher container */
		  
		  /* vehicle section */
		  .vehicle_img-box {
			width: 60%;
			margin: 0 auto;
		  }
		  
		  .vehicle_section .carousel-control-prev,
		  .vehicle_section .carousel-control-next {
			opacity: 1;
		  }
		  
		  .vehicle_section .carousel-control-prev-icon,
		  .vehicle_section .carousel-control-next-icon {
			width: 50px;
			height: 50px;
			background-color: #082465;
			border-radius: 100%;
			background-size: 10px;
			background-position: center;
		  }
		  
		  .vehicle_section .carousel-control-prev-icon {
			background-image: url(../images/prev.png);
		  }
		  
		  .vehicle_section .carousel-control-next-icon {
			background-image: url(../images/next.png);
		  }
		  
		  
		  
		  /* end vehicle section */
		  
		  /* client section */
		  .client_section {
			background-image: url(../images/shape-1.png);
			background-repeat: no-repeat;
		  
			background-position: right;
		  
			background-size: 18%;
		  }
		  
		  .client_container {
			width: 80%;
			margin: 0 auto;
			padding: 35px;
			background-color: #fefeff;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
			-moz-box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
			box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
			border-radius: 20px;
		  }
		  
		  .client_detail-box h4 {
			color: #082465;
		  }
		  
		  .client_detail-box span {
			text-transform: uppercase;
			color: #48494a;
		  }
		  
		  .client_detail .client_img-box {
			width: 100px;
			margin-right: 15px;
		  }
		  
		  .client_detail .client_img-box img {
			width: 100%;
		  }
		  
		  
		  
		  
		  /* end client section */
		  
		  
		  /* contact section */
		  .contact_section {
			background-image: url(../images/shape-2.png);
			background-repeat: no-repeat;
			background-size: 14%;
			background-position: left center;
		  }
		  
		  .contact-form {
			padding: 25px;
			border-radius: 20px;
		  }
		  
		  .contact-form input {
			border: none;
			outline: none;
			background-color: #dedee0;
			width: 100%;
			margin: 10px 0;
			padding: 7px 10px;
		  }
		  
		  .contact-form .input_message {
			height: 120px;
		  }
		  
		  .contact-form input::placeholder {
			color: #fff;
		  }
		  
		  .contact-form button {
			border: none;
			outline: none;
			padding: 7px 50px;
			text-transform: uppercase;
			margin-top: 25px;
			background-color: #fec913;
			color: #fff;
		  }
		  
		  /* end contact section */
		  
		  /* admission section */
		  
		  
		  .admission_section .container-fluid.position-relative {
			height: 500px;
		  }
		  
		  .admission_container {
			width: 770px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
		  }
		  
		  
		  .admission_img-box {
			width: 50%;
			border-radius: 25px 0 0 25px;
			overflow: hidden;
		  }
		  
		  .admission_detail {
			width: 50%;
			background-color: #082465;
			padding: 20px;
			color: #fefeff;
			border-radius: 0 25px 25px 0;
		  }
		  
		  
		  .admission_img-box img {
			width: 100%;
		  }
		  
		  .admission_detail .admission_btn {
			background-color: #fec913;
			padding: 7px 35px;
			color: #fefeff;
			font-size: 15px;
			border-radius: 5px;
		  }
		  
		  /* end admission section */
		  
		  /* call section */
		  .call_section h2 {
			text-align: center;
			margin: 15px 0;
		  }
		  
		  .landing_section .number_heading {
			color: #fec913;
		  }
		  
		  .landing_section p {
			text-align: center;
			margin-top: 15px;
		  }
		  
		  /* end call section */
		  
		  /* footer section*/
		  
		
		  @media (max-width: 1120px) {}
		
		@media (max-width: 992px) {
		
		
			.top_container {
				height: auto;
			}
		
			.top_container.sub_pages {
				height: auto;
			}
		
			.top_container.sub_pages::before {
				background-size: cover;
			}
		
			.client_box-container {
		
				width: 90%;
		
			}
		
			.service_detail-container {
				width: 90%;
			}
		
			.hero-container {
				flex-direction: column;
			}
		
			.hero_detail-box {
				width: 100%;
				margin-bottom: 45px;
			}
		
			.hero_img-container {
				width: 100%;
			}
		
			.top_container::before {
				width: 200%;
		
			}
		
			.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
			.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
		
				color: #fff;
			}
		
			.custom_nav-container .nav_search-btn {
				background-image: url(../images/search-icon-mobile.png);
				background-position: center;
			}
		}
		
		@media (max-width: 820px) {
			.admission_container {
				width: 450px;
				flex-direction: column;
			}
		
			.admission_img-box,
			.admission_detail {
				width: 100%;
			}
		
			.admission_img-box {
				border-radius: 25px 25px 0 0
			}
		
			.admission_detail {
				border-radius: 0 0 25px 25px;
			}
		}
		
		@media (max-width: 768px) {
		
		
			.hero_detail-box {
				text-align: center;
			}
		
		
		
		}
		
		@media (max-width: 576px) {
			.vehicle_img-box {
				width: 80%;
			}
		
			.carousel-control-prev,
			.carousel-control-next {
				top: 150%;
			}
		
			.carousel-control-prev {
				left: 30%;
			}
		
			.carousel-control-next {
				right: 30%;
			}
		
			.vehicle_section .carousel-control-prev-icon,
			.vehicle_section .carousel-control-next-icon {
				width: 35px;
				height: 35px;
				background-size: 8px;
			}
		
			.contact_section,
			.client_section {
				background-image: none;
			}
		}
		
		@media (max-width: 480px) {
			.vehicle_img-box {
		
				width: 100%;
		
			}
		
			.admission_container {
		
				width: 300px;
			}
		
			.client_container {
				width: 100%;
			}
		
			.client_detail {
		
				flex-direction: column;
		
			}
		
			.client_detail-box {
		
				display: flex;
				flex-direction: column;
				align-items: center;
		
			}
		
			.client_detail .client_img-box {
				width: 100px;
				margin-right: 0px;
				margin-bottom: 15px;
			}
		
		}
		
		@media (max-width: 400px) {}
		
		@media (max-width: 360px) {}
		
		@media (min-width: 1200px) {
			.container {
				max-width: 1170px;
			}
		
		}
		  /* end footer section*/
	</style>
{% endblock stylesheets %}

{% block content %}
{% if rol == 'Lider' or rol == 'Admin' %}
	<div class="content">
		<div class="panel-header">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h1 class="pb-2 fw-bold" style="padding-top:.2rem;font-size:3rem;">Bienvenido </h1>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class=" text-white btn bg-dark2 btn-round">Mi perfil</a>
					</div>
				</div>
			</div>
		</div>

		<div class="page-inner animated fadeInUp mt--5">
			
			<section id="gestor">
				<div class="row mt--2 d-flex justify-content-center">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<!-- <div class="row mb-2"><h1><strong>Atajos:</strong></h1></div> -->
								
								<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
									  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="height:10px;border-radius:8px;width:10px;"></li>
									  <li data-target="#carouselExampleIndicators" data-slide-to="1" style="height:10px;border-radius:8px;width:10px;"></li>
									  <li data-target="#carouselExampleIndicators" data-slide-to="2" style="height:10px;border-radius:8px;width:10px;"></li>
									  <li data-target="#carouselExampleIndicators" data-slide-to="3" style="height:10px;border-radius:8px;width:10px;"></li>
									</ol>
									<div class="carousel-inner">
									  	<div class="carousel-item active">
											<div class="content-card">
												<div class="card-dinamica">
													<div class=" face front1 " >
														<img src="/static/assets/img/imgPost1.png" alt="">
														<h3>Captacion</h3>
													</div>
											
													<div class="face card-black">
														<div class=" top-row background-top-row " >
															<h4 style="margin-top: 0;">Captacion</h4>
															<i class="fab fa-instagram" aria-hidden="true"></i>
														</div>
														<div class=" content-black ">
															<h2>Captacion</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit delectus quod ducimus facilis, modi minus illum laborum omnis corporis aperiam?</p>
															
															<div class="container d-flex justify-content-center align-items-center">
																<button class=" button background-top-row"><a href="{% url 'planning:func_Planning' %}">Empesar</a></button>
															</div>
															
														</div>
												
													</div>  
										
												
												</div>
											</div>

											 

										</div>

										<div class="carousel-item">
											<div class="content-card">
												<div class="card-dinamica">
													<div class=" face front1 " >
														<img src="/static/assets/img/preguntas-mas-frecuentes.png" alt="">
														<h3>Capacitacion</h3>
													</div>
											
													<div class="face card-black">
														<div class=" top-row background-top-row " >
															<h4 style="margin-top: 0;">Capacitacion</h4>
															
															<i class="icon-organization icon-large"></i>
														</div>
														<div class=" content-black ">
															<h2>Capacitacion</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit delectus quod ducimus facilis, modi minus illum laborum omnis corporis aperiam?</p>
															
															<div class="container d-flex justify-content-center align-items-center">
																<button class=" button background-top-row"><a href="{% url 'planning:func_Planning' %}">Empesar</a></button>
															</div>
														</div>
												
													</div>  
										
												
												</div>
											</div>

											
											       
										</div>
										
										<div class="carousel-item">
											<div class="content-card">
												<div class="card-dinamica">
													<div class=" face front1 " >
														<img src="/static/assets/img/imgPost1.png" alt="">
														<h3>Eventos/Pagos</h3>
													</div>
											
													<div class="face card-black">
														<div class=" top-row background-top-row " >
															<h4 style="margin-top: 0;">Eventos/Pagos</h4>
															<i class="fas fa-address-card"></i>
														</div>
														<div class=" content-black ">
															<h2>Eventos/Pagos</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit delectus quod ducimus facilis, modi minus illum laborum omnis corporis aperiam?</p>
															
															<div class="container d-flex justify-content-center align-items-center">
																<button class=" button background-top-row"><a href="{% url 'planning:func_Planning' %}">Empesar</a></button>
															</div>
														</div>
												
													</div>  
										
												
												</div>
											</div>

											
											       
										</div>

										<div class="carousel-item">
											<div class="content-card">
												<div class="card-dinamica">
													<div class=" face front1 " >
														<img src="/static/assets/img/lesson.png" alt="">
														<h3>Configuracion</h3>
													</div>
											
													<div class="face card-black">
														<div class=" top-row background-top-row " >
															<h4 style="margin-top: 0;">Configuracion</h4>
															<i class="fas fa-cog"></i>
														</div>
														<div class=" content-black ">
															<h2>Configuracion</h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit delectus quod ducimus facilis, modi minus illum laborum omnis corporis aperiam?</p>
															
															<div class="container d-flex justify-content-center align-items-center">
																<button class=" button background-top-row"><a href="{% url 'planning:func_Planning' %}">Empesar</a></button>
															</div>
														</div>
												
													</div>  
										
												
												</div>
											</div>

											
											       
										</div>
										
									</div>
		
									<a class="carousel-control-prev op-9" href="#carouselExampleIndicators" role="button" data-slide="prev">
									  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									  <span class="sr-only">Previous</span>
									</a>
		
									<a class="carousel-control-next op-9" href="#carouselExampleIndicators" role="button" data-slide="next">
									  <span class="carousel-control-next-icon" aria-hidden="true"></span>
									  <span class="sr-only">Next</span>
									</a>
								</div>		
									

								

							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		

	</div>
	{% elif  rol == 'Estudiante' %}
	<div class="content">
		<div class="panel-header">
	<div class="top_container">
		<!-- header section strats -->
		
		<section class="hero_section ">
		  <div class="hero-container container">
			<div class="hero_detail-box">
			  
			  <h3>
				Bienvenido <br>
				{{user}}
			  </h3>
			  <h1>
				Capacitacion
			  </h1>
			  <div class="hero_btn-continer">
				<a href="{% url 'capacitacion_student' %}" class="call_to-btn btn_white-border">
				  <span>
					ir
				  </span>
				  <img src="{% static 'assets/img/right-arrow.png' %}" alt="" class="img-fluid">
				</a>
			  </div>
			 
			</div>
			
			<div class="hero_img-container">
			  <div>
				<img src="{% static 'assets/img/hero.png' %}" alt="" class="img-fluid">
			  </div>
			</div>
		  </div>
		</section>
	  </div>
	</div>
</div>
{% endif %}
<div class="modal fade" id="boletinModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div id="boletinModalContent" class="modal-dialog  modal-dialog-centered" role="document" style=" max-width:80% ;">

	</div>
</div>

	<!-- <script src="/static/assets/js/plugin/swiper_bundle.js"></script> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>

function showBoletin(){
		fetch("{% url 'showBoletin'%}", {
        	...fetchObject,
        	body: JSON.stringify({
             	acceso:"buscar"
             		
          	})
            
        })
        .then(async (res) => {
            document.getElementById("boletinModalContent").innerHTML = await res.text()
        })
        .then(() => {
			const swiper = new Swiper(".mySwiper", {
				navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
				},
			});
            $("#boletinModal").modal("show")
            
        })
	}


	// showBoletin()
</script>

{% endblock javascripts %}