{% block stylesheets %}

<link rel="stylesheet" href="/static/help-style/stylequestions.css">
{% endblock stylesheets %}
<div class="card">
<div class="categorias" id="categorias">
    
    <div class="categoria activa">     
        <h3>Ficha Personal</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Laboral</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Medica</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Politica</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha intereses</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Poblacional</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Economica</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div class="categoria activa">     
        <h3>Ficha Academica</h3>
        <div class="boton">
            <a href="#" onclick="" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="#" onclick="" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
  </div>
</div>