<div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><strong>New setting</strong></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <form id="formConfig" class="form">
      <div class="modal-body">
         {% if add %}
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionConfig" class="col-form-label">Description</label>
               <input type="text" class="form-control" id="descriptionConfig" placeholder="Enter a description here"
                  required>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionConfig" class="col-form-label">Datos adicionales</label>
               <input type="text" class="form-control" id="adiConfig" placeholder="Enter a description here"
                 required>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-12">
               <label for="codeConfig" class="col-form-label">Code</label>
               <input type="text" class="form-control" id="codeConfig"
                  placeholder="Enter a code to identify this setting" >
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkShowCB" id="checkShowCB" >
                  <label class="custom-control-label" for="checkShowCB">Show on lists</label>
               </div>
            </div>
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkChangesCB" id="checkChangesCB" >
                  <label class="custom-control-label" for="checkChangesCB">Allow changes</label>
               </div>
            </div>
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkListsCB" id="checkListsCB" >
                  <label class="custom-control-label" for="checkListsCB">Handle lists</label>
               </div>
            </div>
         </div>
         {% else %}
         {% for item in hijos %}
         
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionConfig" class="col-form-label">Description</label>
               <input type="text" class="form-control" id="descriptionConfig" placeholder="Enter a description here"
                value="{{ item.desc_elemento }}"  required>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionConfig" class="col-form-label">Datos adicionales</label>
               <input type="text" class="form-control" id="adiConfig" placeholder="Enter a description here"
               value="{{ item.datos_adicional }}"  required>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-12">
               <label for="codeConfig" class="col-form-label">Code</label>
               <input type="text" class="form-control" id="codeConfig"
                  placeholder="Enter a code to identify this setting" value="{{ item.valor_elemento }}">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkShowCB" id="checkShowCB" {% if item.mostrar_en_combos %} checked {% endif %}>
                  <label class="custom-control-label" for="checkShowCB">Show on lists</label>
               </div>
            </div>
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkChangesCB" id="checkChangesCB" {% if item.permite_cambios %} checked {% endif %}>
                  <label class="custom-control-label" for="checkChangesCB">Allow changes</label>
               </div>
            </div>
            <div class="form-group col-4">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkListsCB" id="checkListsCB" {% if item.maneja_lista %} checked {% endif %}>
                  <label class="custom-control-label" for="checkListsCB">Handle lists</label>
               </div>
            </div>
         </div>
         
       
         {% endfor %}
         {% endif %}
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal"><i
               class="fas fa-arrow-left mr-2"></i>Back</button>
         <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
      </div>
   </form>
</div>
