<table class="table table-hover table-component table-borderless text-center">
   <thead>
      <tr>
         {% for field in fields %}
         <td>
            <strong>
               {{field}}
            </strong>
         </td>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for row in data %}
      <tr>
         {% for llave in keys%}
            {% for key,value in row.items %}
               {% if llave == key %}
                  <td>{{value}}</td>
               {% endif %}
            {% endfor %}
         {% endfor %}
         {% if 'Actions' in fields %}
         <td>
            <div class="btn-group" role="group">
               {% if row.crearHijos == True %}
               <button onclick="openAddModal('{{row.pk}}')" type="button" class="btn btn-icon btn-sm btn-success" data-placement="top" title="Add" data-toggle="tooltip" data-target="tooltip">
                  <i class="fas fa-plus"></i>
               </button>
               {% endif %}
               {% if row.editar == True %}
               <button onclick="openEditModal('{{row.pk}}')" type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip"  data-placement="top" title="Edit">
                  <i class="fas fa-edit"></i>
               </button>
               {% endif %}
               {% if row.eliminable == True %}
               <button onclick="openDeleteModal('{{row.pk}}')" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="modal"
                  data-target="#newModal">
                  <i class="fas fa-trash-alt"></i>
               </button>
               {% endif %}
               {% if row.manejaLista == True %}
               <button onclick="toggleContentChild('{{row.pk}}')" id="btnTablaHijo{{row.pk}}" type="button" class="btn btn-icon btn-sm btn-warning ml-1">
                  <i class="fas fa-clipboard"></i>
               </button>
               {% endif %}
            </div>
         </td>
         {% endif %}
      </tr>
      <tr id="tablaHijo{{row.pk}}" hidden>
         <td colspan="{{fields|length}}">
            <div id ="contenidoHijo{{row.pk}}" class="content-table-hijo"></div>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% if page%}
<div class="row col-12 d-flex justify-content-between align-items-end">

   <div class="col-4 m-2 form-group">
      <label class="form-label" for="select-perpage">Items per page</label>
      <select class="form-control" onchange="changePerTable()" id="select-pertable" type="">
         <option value="5" {% if limit == '5' %} selected {% endif %}>5</option>
         <option value="10" {% if limit == '10' %} selected {% endif %}>10</option>
         <option value="15" {% if limit == '15' %} selected {% endif %}>15</option>
      </select>
   </div>
   <nav class="col-6 m-2" aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
         {% if data.has_previous %}
         <li class="page-item">
            <a class="page-link" onclick="goToTable(1)" href="#">&laquo; First</a>
            
         </li>
         <li class="page-item">
            
            
            <a class="page-link" href="#" onclick="goToTable('{{ data.previous_page_number }}')"><i class="fas fa-arrow-left"></i></a>
         </li>
         {% endif %}
         
         {% if data.number|add:'-4' > 1 %}
         <li class="page-item"><a class="page-link" onclick="goToTable(`{{ data.number|add:'-5' }}`)" href="#">&hellip;</a></li>
         {% endif %}
         
         {% for i in data.paginator.page_range %}
         {% if data.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only">(current)</span>
            </span>
         </li>
         {% elif i > data.number|add:'-5' and i < data.number|add:'5' %} <li class="page-item"><a
            class="page-link" onclick="goToTable('{{i}}')" href="#">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if data.paginator.num_pages > data.number|add:'4' %}
            <li class="page-item"><a class="page-link" onclick="goToTable(`{{ data.number|add:'5' }}`)" href="#">&hellip;</a></li>
            {% endif %}
   
            {% if data.has_next %}
            <li class="page-item">
               <a class="page-link" onclick="goToTable('{{ data.next_page_number }}')" href="#"><i class="fas fa-arrow-right"></i></a>
            </li>
            <li class="page-item">
               <a class="page-link" onclick="goToTable('{{ data.paginator.num_pages }}')" href="#">Last &raquo;</a>
            </li>
            
            {% endif %}
         </ul>
      </nav>
   {% endif %}
</div>