

{% if hay == 1%}
<option value=null> Seleccione una Opcion </option>
{% for items in opsion2 %}

<option value={{items.fk_componetesformacion_id}}{% if edita.fk_topico_id == items.fk_componetesformacion_id %} selected {% endif %} > {{ items.fk_componetesformacion}}</option>


{% endfor %}
{% elif hay == 2 %}
<option value=null> Seleccione una Opcion </option>
{% for items in opsion2 %}

<option value={{items.id_componenteActividades}}{% if edita.fk_topico_id == items.id_componenteActividades %} selected {% endif %} >{{ items.titulo}}</option>


{% endfor %}
{% else %}
<option value=null> Seleccione una Opcion </option>
{% for items in opsion2 %}

<option value={{items.id_estructura}} {% if edita.fk_modulo_id == items.id_estructura %} selected {% endif %}> {{ items.Titulo }}</option>


{% endfor %}
{% endif %}