{% if show == 'tags' %}
{% for tag in data %}
<div class="resources-item" id="tagItem{{tag.pk}}" onclick="selectedTag('{{tag.pk}}','{{tag.desc_tag}}')">
   <div class="resources-item-front">
      <div class="resources-item-title" style="font-size: 1.5rem; font-weight: bold;">
         {{tag.desc_tag}}
      </div>
   </div>
</div>
{% endfor %}
{% endif %}

{% load static %}

{% if show == 'resources' %}
{% for recurso in data %}
<div id="resourceItem{{recurso.fk_tipoRecurso_id}}" class="resources-item" onclick="selectedResource('{{recurso.fk_tipoRecurso_id}}','{{recurso.path_rutas}}','{{recurso.fk_tipoRecurso.valor_elemento}}')">
   {% if recurso.fk_recurso.fk_tipo_recurso.valor_elemento == 'Tipo_video'%}
   <div class="resources-item-front" style="background: url('http://i3.ytimg.com/vi/{{recurso.path_rutas}}/hqdefault.jpg'); background-size: cover;">
   {% elif recurso.fk_recurso.fk_tipo_recurso.valor_elemento == 'Tipo_imagen'%}
   <div class="resources-item-front" style="background: url('/media/{{recurso.path_rutas}}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
   {% elif recurso.fk_recurso.fk_tipo_recurso.valor_elemento == 'Tipo_audio'%}
   <div class="resources-item-front" style="background: url('{% static 'assets/img/audio-thumbnail.png' %}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
   {% elif recurso.fk_recurso.fk_tipo_recurso.valor_elemento == 'Tipo_pdf'%}
   <div class="resources-item-front" style="background: url('{% static 'assets/img/pdf-thumbnail.png' %}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
   {% endif %}
      
   </div>
   <div class="resources-item-details">
      <div class="resources-item-description">
         <p>Type: {{recurso.fk_tipoRecurso.desc_elemento}}</p>
         
      </div>
      <div class="resources-item-tags">
         {% for tag in recurso.fk_tipoRecurso.tagrecurso_set.all %}
         <span>{{tag.fk_tag.desc_tag}}</span>
         {% endfor %}
      </div>
   </div>
</div>
{% endfor %}
{% endif %}