{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
				<div class="form-group" id="groupDate">

					<div class="row">
						<div class="card col-12" style="background-color: #1a2035 !important; color: white;">
							<div class="section-header">
								<h3 >Nueva actividad</h3> 
                              <div onclick="openAddActivity('{{id}}')" class="btn btn-icon btn-success btn-round add-btn btn-card-lg">
                             <i class="fas fa-plus"></i>
                              </div>
								
							 </div> 
							 <div class="section-header">
								<div class="form-group col-md-12 d-flex flex-row  justify-content-end">                 
								   <a href="{% url 'preRequirements' %}" class="btn-radius btn-azul " style="display:block;text-align:center;text-decoration:none;color:whitesmoke;"><span>Agregar prerequisitos</span></a>
								 </div>
								</div>
							<div class="card-body m-0 p-0" >
								<ul id="resultado">
                              
								</ul>
							   
					       </div>
					    </div>
	
						
					</div>
	
				</div>
      		</div>
		</div>
	</div>
	<div class="modal fade" id="addChooseActivities" tabindex="-1" role="dialog">
		<div class="modal-dialog  modal-dialog-centered" role="document" id="modalContentChoose">
	 
		</div>
	 </div>
	 <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="addNewModalContent">
	 
		</div>
	 </div>
	 <div class="modal fade" id="addNewModale" tabindex="-1" role="dialog">
		<div class="modal-dialog  modal-dialog-centered" role="document" id="addNewModalContente">
	 
		</div>
	 </div>
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	let ids={{id}}
    let query = ""
	
	let editmode = false
	let queryResource = ""
    let selectedId = ""
    let recursosArray = []
    let selectedResources = []
    let bankPage = 1
   
	const renderContent = (id)=>{
		document.querySelector("#resultado").classList.add("is-loading")
		fetch("{% url 'renderactividades'%}", {
		   ...fetchObject,
		   body: JSON.stringify({
			  query,
			  id
		   })
		})
		.then(async(res)=>{
		   result = await res.text()
		   document.querySelector("#resultado").classList.remove("is-loading")
		   document.querySelector("#resultado").innerHTML = result
		})
	 }
	 renderContent(ids)
	 const openAddActivity = (idPadre) => {
		editmode = false
		selectedActivity = idPadre
		renderModalChooseActivities(selectedActivity).then(() => {
		   $("#addChooseActivities").modal("show")
		})
	 }
  
	 const renderModalChooseActivities = (id) => {
		return fetch("{% url 'modalChooseActivity' %}", {
		   ...fetchObject,
		   body: JSON.stringify({
			  method: "Show",
			  id
		   })
		})
		   .then(async (res) => {
			  document.getElementById("modalContentChoose").innerHTML = await res.text()
		   })
	 }	
	 const chooseModal = async (type,id) => {
		
		
		let url
		
		if (type == "Componente_Leccion") {
		   url = "{% url 'modalNewLesson' %}"
		}
		if (type == "Componente_Tarea") {
			url = "{% url 'modalNewhome' %}"
		}
		if (type == "Componente_Sesiones") {
			url = "{% url 'modalNewsesiones' %}"
		}
		await renderModalActivity(url,id,type)
		$("#addChooseActivities").modal("hide")
	 } 
	 const renderModalActivity = (url,id,tipos) => {
		tipo=tipos
		idSeleted=id
		editmode = false
		return fetch(url, {
		   ...fetchObject,
		   body: JSON.stringify({
			  method: "Show",
			  id
			  
		   })
		})
		   .then(async (res) => {
			  document.getElementById("addNewModalContent").innerHTML = await res.text()
		   })
		   .then(() => {
			  $("#addNewModal").modal("show")
			  const formPrograma = document.getElementById("formActividad")
			  let rules = {
				descriptionActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 urlActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 resumenActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 disponibleLesson: {
					required: true
					
				 },
				 estatusLesson: {
					required: true
					
				 },
				 creditos: {
					required: true
					
				 },
				 Componente: {
					required: true
					
				 },
			  }
			  commonValidator = $("#formActividad").validate({
				rules,
				highlight: function (element) {
				   $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
				},
				success: function (element) {
				   $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
				},
			 });
			 if (tipo === "Componente_Tarea") {
				const form = document.getElementById("summernote")
				const titulo = document.getElementById("min")
				const ritmo = document.getElementById("tipo_ritmo")
				const titule = document.getElementById("tipo")
				const tipo_ritmo = document.getElementById("ritmo_entrega")
				const tipo_ritmos = document.getElementById("ritmo_entregas")
				form.hidden= false
				titulo.hidden= false
				ritmo.hidden= false
				titule.hidden= false
				tipo_ritmo.hidden=false
				tipo_ritmos.hidden=false
				setupSummernote()
			 }
			 if (tipo === "Componente_Sesiones") {
				const modalidad = document.getElementById("modalidad")
				const modalidades = document.getElementById("modalidades")
				modalidad.hidden= false
				modalidades.hidden=false
			 }
			 formPrograma.addEventListener("submit", (e) => {
				e.preventDefault()
				if($("#formActividad").valid()){
				   setLoading()
				   clickSave(formPrograma, url)
					  .then(() => {
						 $("#addNewModal").modal("hide")
						 renderContent(idSeleted)
						 stopLoading()
						 
					  })
	
				}
			 })
		   })
	 }
	 const EditActivity = (id,padre,tipo) => {
		let idp=padre
		let url=""
		idSeleted=id
		if (tipo === "Actividad_Tarea") {
			url="{% url 'modalNewhome' %}"
		}
		if (tipo === "Actividad_leccion"){
			url="{% url 'modalNewLesson' %}"
		}
		if (tipo === "Actividad_Sesiones"){
			url="{% url 'modalNewsesiones' %}"
		}
		editmode = true
		return fetch(url, {
		   ...fetchObject,
		   body: JSON.stringify({
			  method: "Edit",
			  id
		   })
		})
		   .then(async (res) => {
			  document.getElementById("addNewModalContent").innerHTML = await res.text()
		   })
		   .then(() => {
			  $("#addNewModal").modal("show")
			  const formPrograma = document.getElementById("formActividad")
			  let rules = {
				descriptionActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 urlActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 resumenActivity: {
					required: true,
					maxlength: 200,
					minlength: 3
				 },
				 disponibleLesson: {
					required: true
					
				 },
				 estatusLesson: {
					required: true
					
				 },
				 creditos: {
					required: true
					
				 },
				 Componente: {
					required: true
					
				 },
			  }
			  commonValidator = $("#formActividad").validate({
				rules,
				highlight: function (element) {
				   $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
				},
				success: function (element) {
				   $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
				},
			 });
			 if (tipo === "Actividad_Tarea") {
				const form = document.getElementById("summernote")
				const titulo = document.getElementById("min")
				const ritmo = document.getElementById("tipo_ritmo")
				const titule = document.getElementById("tipo")
				const tipo_ritmo = document.getElementById("ritmo_entrega")
				const tipo_ritmos = document.getElementById("ritmo_entregas")
				form.hidden= false
				titulo.hidden= false
				ritmo.hidden= false
				titule.hidden= false
				tipo_ritmo.hidden=false
				tipo_ritmos.hidden=false
				setupSummernote()
			 }
			 if (tipo === "Actividad_Sesiones") {
				const modalidad = document.getElementById("modalidad")
				const modalidades = document.getElementById("modalidades")
				modalidad.hidden= false
				modalidades.hidden=false
			 }
			 formPrograma.addEventListener("submit", (e) => {
				e.preventDefault()
				if($("#formActividad").valid()){
				   setLoading()
				   clickSave(formPrograma, url)
					  .then(() => {
						 $("#addNewModal").modal("hide")
						 renderContent(idp)
						 stopLoading()
						 
					  })
	
				}
			 })
		   })
	 }
	 const updateModel = (url, method, data, id, tipo ) => {
        return fetch(url, {
           ...fetchObject,
           body: JSON.stringify({
              method,
              data,
              id,
			  tipo
           })
        })
     }
	 const clickSave = (formElement, url) => {
        const formData = new FormData(formElement);
        const data = {}
     
        for (var [key, value] of formData.entries()) {
           data[key] = value
        }
        if (editmode) {
           return updateModel(url, "Update", data, idSeleted,null)
              .then(async (res) => {
                 const text = JSON.parse(await res.text())
                 if (text.message == "error")  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                 else  makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")

              })
        }
        else {
           return updateModel(url, "Create", data, idSeleted,tipo)
              .then(async (res) => {
                 const text = JSON.parse(await res.text())
                 if (text.message == "error")  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                 else  makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")

              })
        }
       
     }	
	 const openDeleteactividades = async (id,padre,tipo) =>{
		let url=""
		if (tipo === "Actividad_Tarea") {
			url="{% url 'modalNewhome' %}"
		}
		if (tipo === "Actividad_leccion"){
			url="{% url 'modalNewLesson' %}"
		}
		if (tipo === "Actividad_Sesiones"){
			url="{% url 'modalNewsesiones' %}"
		}
		const elimino = await alerta(3)
		if(elimino){
		   fetch(url, {
			  ...fetchObject,
			  body: JSON.stringify({
				 method: "Delete",
				 id,
				 padre
			  })
		   })
		   .then(async (res) => {
			  const text = JSON.parse(await res.text())
			  if (text.message == "error")  makeMessage(4, "{% translate 'Notificacion' %}", "{% translate 'un error ha occurrido y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
  
			  else  makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Archivo eliminado satisfactoriamente' %}", 'fas fa-trash-alt')
  
		   })
		   .then(()=>{
			renderContent(padre)
		   })
		}
	 } 
	 const opengopages = (id) =>{
		window.location.href = `{% url 'pageslessons' %}?id=${id}`
					 
	 }
	 const programsesions = (id) =>{
		window.location.href = `{% url 'programasrsesion' %}?id=${id}`
					 
	 }
	 new Sortable(document.querySelector("#resultado"), {
		handle: '.handle',
		animation: 150,
		chosenClass: "seleccionado",
		ghostClass: "fantasma",
		dragClass: "drag",
		onEnd: function (evt) {
		   let arreglo = []
		   evt.to.children.forEach(element => arreglo.push(element.dataset.move));
		   move({{id}}, arreglo)
		},
	 });
	 const move = (id, data) => {

		setLoading()
		fetch("{% url 'modalNewLesson'%}", {
		   ...fetchObject,
		   body: JSON.stringify({
			  id,
			  method:"sort",
			  data
		   })
		})
		
		.then(async (res) => {
		   const text = JSON.parse(await res.text())
		   if (text.message == "error") makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
		   else makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro ordenado' %}", "fa fa-check")
		   renderContent({{id}}) 
		   stopLoading()
		})
	   
  
	 } 
	  ///////////////////
   //RESOURCES BANK//
   //////////////////

   const setBankEvents = (dropzoneObj) => {

	//
	//RESOURCES BANK - set initial state
	//

	selectedResources = []
	bankPage = 1

	//
	//RESOURCES BANK - Tabs state
	//

	$("#nav-recent-tab").click(() => {
	   bankPage = 1
	})
	$("#nav-bank-tab").click(() => {
	   bankPage = 2
	})
	$("#nav-upload-tab").click(() => {
	   bankPage = 3
	})
	$("#nav-youtube-tab").click(() => {
	   bankPage = 4
	})

	//
	//RESOURCES BANK - HTML objects
	//

	const formBotones = document.getElementById("formBotones")
	const formYoutube = document.getElementById("formYoutube")
	const youtubeBtn = document.getElementById("findInYoutube")
	const inputYT = document.getElementById("urlResource")
	const frameYT = document.getElementById("previewYoutube")
	const cleanBtn = document.getElementById("cleanBankBtn")
	const searchBankBar = document.querySelector('#resourceSearch')
	const clearBankBtn = document.querySelector('#clearBankBtn')
	const searchBankBtn = document.querySelector('#searchBankBtn')

	//
	//RESOURCES BANK - Events
	//

	clearBankBtn.addEventListener('click', () => {
	   searchBankBar.value = ""
	   query = ""
	   searchResource("")
	})
	searchBankBtn.addEventListener('click', () => {
	   searchResource(searchBankBar.value)
	})
	searchBankBar.addEventListener('keypress', (e) => {
	   if (e.key === 'Enter') {
		  searchResource(searchBankBar.value)
	   }
	});
	formYoutube.addEventListener("submit", (e) => {
	   e.preventDefault()
	   if (inputYT.value.trim()) {
		  let youtubeFrame = comprobarYoutube(inputYT.value.trim())
		  frameYT.innerHTML = youtubeFrame
		  if (youtubeFrame.includes("vimeo.com/")) {
			 let iframe = frameYT.children[0]
			 let player = new Vimeo.Player(iframe);
		  }
	   }
	   else {
		  frameYT.innerHTML = ""
	   }
	})
	formBotones.addEventListener("submit", async (e) => {
	   e.preventDefault()
	   $("#insertBankBtn").attr("disabled", "disabled")
	   if (bankPage === 1 || bankPage === 2) {
		  if (selectedResources.length > 0) {
			 recursosArray.push(...selectedResources)
			 $(`#summernote`).summernote('pasteHTML', renderResourcesHTML(selectedResources))
			 document.querySelector("#addNewModalContente").innerHTML = ""
			 $("#addNewModale").modal("hide")
		  }
	   }
	   if (bankPage === 3) {
		  if (dropzoneObj.getQueuedFiles().length >= 1 && $("#tagResource3").val().trim() != "") {
			 dropzoneObj.processQueue()
		  }
	   }
	   if (bankPage === 4) {
		  commonValidator = $("#formYoutube").validate({
			 highlight: function (element) {
				$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
			 },
			 success: function (element) {
				$(element).closest('.form-group').removeClass('has-error').addClass('has-success');
			 },
		  });
		  if ($("#tagResource4").val().trim() == "") {
			 
		  }
		  if (!$("#formYoutube").valid()) {
			 $("#insertBankBtn").removeAttr("disabled")
			 return
		  }
		  let HTMLstring = comprobarYoutube(inputYT.value.trim())
		  if (!HTMLstring.includes("Invalid Youtube or Vimeo video") && $("#tagResource4").val().trim() != "") {
			 let tipo_recurso = "Tipo_video"
			 if (HTMLstring.includes("vimeo.com/")) {
				tipo_recurso = "Recurso_vimeo"
			 }
			 dataObj = {
				titulo: document.getElementById("titleResource4").value,
				path: extractCode(document.getElementById("urlResource").value),
				tipo_path: 1,
				compartido: document.getElementById("checkSharedCB4").checked,
				tipo_recurso,
				tags: $("#tagResource4").val().toLowerCase()
			 }
			 const response = await updateModel("{% url 'modalResourcesBank'%}", "Create", dataObj, null)
			 const text = JSON.parse(await response.text())
			 if (text.message == "error") {
				alerta(5)
				return
			 }
			 if (text.message == "Already exists") alerta(6)
			 if (text.message == "Perfect") alerta(1)
			 let recursoTemp = {
				id: text.id,
				path: text.path,
				type: text.type
			 }
			 recursosArray.push(recursoTemp)
			 $(`#summernote`).summernote('pasteHTML', HTMLstring)
			 document.querySelector("#addNewModalContente").innerHTML = ""
			 $("#addNewModale").modal("hide")
		  }

	   }
	   $("#insertBankBtn").removeAttr("disabled")
	})
	cleanBtn.addEventListener("click", (e) => {
	   e.preventDefault()
	   if (bankPage === 1) {
		  clearSelectedRecent()
	   }
	   if (bankPage === 2) {
		  clearSelectedResources()
	   }
	   if (bankPage === 3) {
		  dropzoneObj.removeAllFiles()
		  document.getElementById("checkSharedCB3").checked = false
		  $("#tagResource3").tagsinput('removeAll')
	   }
	   if (bankPage === 4) {
		  frameYT.innerHTML = ""
		  inputYT.value = ""
		  document.getElementById("checkSharedCB4").checked = false
		  $("#titleResource4").val("")
		  $("#tagResource4").tagsinput('removeAll')
	   }
	})
 }

 //////////////////////////////////////
 //RESOURCES BANK ASSOCIATED METHODS//
 /////////////////////////////////////

 //
 //RESOURCES BANK - SHOW RESOURCES BY CATEGORY ON CLICK
 //
 const renderContentResource = (show, idTag) => {
	document.querySelector("#tagBankBody").classList.add("is-loading")
	fetch("{% url 'contenidoRecursos'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  show,
		  tag: idTag,
		  query: queryResource
	   })
	})
	   .then(async (res) => {
		  result = await res.text()
		  document.querySelector("#tagBankBody").classList.remove("is-loading")
		  document.querySelector("#tagBankBody").innerHTML = result
	   })
 }
 

 //
 //RESOURCES BANK - HANDLE OF HIGHLIGHT SELECTED RESOURCES FOR PAGES 1 & 2
 //

 const selectedTag = (idTag, name) => {
	renderContentResource("resources", idTag)
	const childs = document.getElementById("tagBankHeader").children
	const tagName = document.getElementById("tagNameBar")
	childs[0].classList.remove("d-flex")
	childs[0].classList.add("d-none")
	childs[1].classList.remove("d-none")
	childs[1].classList.add("d-flex")
	tagName.innerText = name

	document.getElementById("backBankBtn").addEventListener("click", () => {
	   queryResource = null
	   selectedResources = []
	   document.querySelector('#resourceSearch').value = ""
	   childs[1].classList.remove("d-flex")
	   childs[1].classList.add("d-none")
	   childs[0].classList.remove("d-none")
	   childs[0].classList.add("d-flex")
	   renderContentResource("tags", null)
	})
 }
 const selectedResource = (idRecent, path, type) => {
	let recentItem = document.getElementById(`resourceItem${idRecent}`)
	let isSelected = recentItem.classList.toString().includes("resources-item-selected")
	if (isSelected) {
	   selectedResources = selectedResources.filter((resource) => {
		  return resource.id != idRecent
	   })
	}
	else {
	   selectedResources.push({ id: idRecent, path, type })
	}
	recentItem.classList.toggle("resources-item-selected")
 }
 const selectedRecent = (idRecent, path, type) => {
	let recentItem = document.getElementById(`resourceRecent${idRecent}`)
	let isSelected = recentItem.classList.toString().includes("resources-item-selected")
	if (isSelected) {
	   selectedResources = selectedResources.filter((resource) => {
		  return resource.id != idRecent
	   })
	}
	else {
	   selectedResources.push({ id: idRecent, path, type })
	}
	recentItem.classList.toggle("resources-item-selected")
 }
 const clearSelectedRecent = () => {
	const bankBody = document.getElementById("recentBankBody")
	for (let item of bankBody.children) {
	   item.classList.remove("resources-item-selected")
	}
	selectedResources = []
 }
 const clearSelectedResources = () => {
	const bankBody = document.getElementById("tagBankBody")
	for (let item of bankBody.children) {
	   item.classList.remove("resources-item-selected")
	}
	selectedResources = []
 }

 //
 //RESOURCES BANK - YOUTUBE PART METHODS
 //

 const extractCode = (linkEntry) => {
	let codeIndex = 0
	if (linkEntry.includes("youtu.be/")) {
	   codeIndex = linkEntry.indexOf("youtu.be/") + 9
	}
	if (linkEntry.includes("youtube.com/")) {
	   codeIndex = linkEntry.indexOf("&v=") + linkEntry.indexOf("?v=") + 4
	}
	if (linkEntry.includes("vimeo.com/")) {
	   codeIndex = linkEntry.split("/")
	   let code = codeIndex.at(-1).trim()
	   if(!code.match(/^\d+$/)){
		  code = `${codeIndex.at(-2)}?h=${codeIndex.at(-1)}`
	   }
	   return code
	}
	let code = linkEntry.slice(codeIndex, codeIndex + 11)
	return code
 }
 const comprobarYoutube = (linkEntry) => {
	if (linkEntry.match(/(?:https?:\/\/)?(?:www\.|m\.)?youtu(?:\.be\/|be.com\/\S*(?:watch|embed)(?:(?:(?=\/[^&\s\?]+(?!\S))\/)|(?:\S*v=|v\/)))([^&\s\?]+)/gm)) {
	   let code = extractCode(linkEntry)
	   return `<div style="padding:52.73% 0 0 0;position:relative;"><iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/${code}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>`
	}
	else if (linkEntry.match(/(?:http|https)?:?\/?\/?(?:www\.)?(?:player\.)?vimeo\.com\/(?:channels\/(?:\w+\/)?|groups\/(?:[^\/]*)\/videos\/|video\/|)(\d+)(?:|\/\?)/g)) {
	   let code = extractCode(linkEntry)
	   return `<div style="padding:52.73% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/${code}" id="${code}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>`
	}
	else {
	   return `<div>Invalid Youtube or Vimeo video</div>`
	}
 }

 //
 //RESOURCES BANK - TRANSLATE RESOURCES TO HTML FOR SUMMERNOTE
 //

 const renderResourcesHTML = (array) => {
	let HTMLstring = ""
	array.map(({ type, path }) => {
	   let recursoHTML = ""
	   if (type === "Tipo_pdf") {
		  recursoHTML = `<iframe src="/media/${path}#toolbar=0" width="100%" height="600px"></iframe>`
	   }
	   if (type === "Tipo_audio") {
		  recursoHTML = `<p class="text-center"><audio controls><source src="/media/${path}">Your browser does not support the audio element.</audio></p>`
	   }
	   if (type === "Tipo_imagen") {
		  recursoHTML = `<img src="/media/${path}"/>`
	   }
	   if (type === "Tipo_video") {
		  recursoHTML = `<div style="padding:52.73% 0 0 0;position:relative;"><iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/${path}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>`
	   }
	   if (type === "Recurso_vimeo") {
		  recursoHTML = `<div style="padding:52.73% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/${path}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>`
	   }
	   HTMLstring += recursoHTML
	})
	return HTMLstring
 }

 //
 //RESOURCES BANK - RENDERING BANK'S MODAL
 //

 const renderResourcesBank = (id) => {
 
	//render resources bank
	fetch("{% url 'modalResourcesBank'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  method: "Show"
	   })
	}).then(async (res) => {
	   result = await res.text()
	   document.querySelector("#addNewModalContente").innerHTML = result
	   $("#addNewModale").modal("show")
	   const dropzoneObj = new Dropzone("form#my-awesome-dropzone", {
		  url: "{% url 'modalResourcesBank' %}",
		  headers: { "idPagina": 1  },
		  autoProcessQueue: false,
		  uploadMultiple: true,
		  acceptedFiles: "image/*,audio/*, application/pdf",
		  maxFiles: 100,
		  parallelUploads: 100,
		  maxFilesize:6,
		  init: function () {
			 this.on("successmultiple", function (files, response) {
				recursosArray.push(...response.recursos)
				$(`#summernote`).summernote('pasteHTML', renderResourcesHTML(response.recursos))
				document.querySelector("#addNewModalContente").innerHTML = ""
				$("#addNewModale").modal("hide")
				alerta(1)
			 });
			 this.on("errormultiple", function (files, response) {
				alerta(5)
			 });
		  }
	   });
	   setBankEvents(dropzoneObj)
	   $('#tagResource3').tagsinput({
		  tagClass: 'badge badge-info d-inline',
		  allowDuplicates: false,
		  trimValue: true,
		  maxChars: 10,
		  maxTags: 3,
		  cancelConfirmKeysOnEmpty: true
	   });
	   $('#tagResource4').tagsinput({
		  tagClass: 'badge badge-info d-inline',
		  allowDuplicates: false,
		  trimValue: true,
		  maxChars: 10,
		  maxTags: 3,
		  cancelConfirmKeysOnEmpty: true
	   });
	})

 }

 //
 //RESOURCES BANK - END
 //

 ///////////////
 //SUMMERNOTE//
 /////////////

 //
 //SUMMERNOTE - SETUP
 //

 
 
 
 const updateRecursosArray = () => {
	recursosArray = []
	let testArray = document.querySelector("#resourcesList")
	if (!testArray) return
	testArray = testArray.value.split("/")
	testArray.map((element) => {
	   if (element.trim() != "") {
		  recursosArray.push(JSON.parse(element))
	   }
	})
 }

 //
 //SUMMERNOTE - LOOK FOR RESOURCES ADDED IN SUMMERNOTE TEXTAREA
 //

 const comprobarRecursosArray = () => {
	let codigo = $(`#summernote`).summernote('code')
	recursos = []
	recursosArray.map((recurso) => {
	   if (codigo.includes(recurso.path))
		  recursos.push(recurso)
	})
	return recursos
 }
	 const setupSummernote = () => {
		
		$(document).ready(function () {
		   $(`#summernote`).summernote({
			  dialogsInBody: true,
			  height: 700,
			  placeholder: 'write your lesson here...',
			  disableDragAndDrop: true,
			  toolbar: [
				 ['style', ['style']],
				 ['font', ['bold', 'underline', 'clear']],
				 ['fontname', ['fontname']],
				 ['color', ['color']],
				 ['para', ['ul', 'ol', 'paragraph']],
				 ['table', ['table']],
				 ['insert', ['resource']],
			  ],
			  buttons: {
				 resource: HelloButton
			   
			  },
			  callbacks: {
				 onPaste: function (e) {
					e.preventDefault()
					let items = (e.clipboardData || e.originalEvent.clipboardData).items;
					for (let index in items) {
					   var item = items[index];
					   console.log(item)
					   if (item.kind === 'file') {
					   }
					}
				 },
				 // onImageUpload:function(e){
				 //    e.preventDefault()
				 // }
			  }
		   });
		});
	 
	 }
	 //
	 //SUMMERNOTE -  BUTTON TO INVOKE RESOURCES BANK
	 //
  
	 const HelloButton = (context) => {
		var ui = $.summernote.ui;
		// create button for resource bank
		var button = ui.button({
		   contents: '<i class="fas fa-folder-open"/> Resources',
		   tooltip: 'Resources bank',
		   click: () => {
			  // invoke resource bank here
			  renderResourcesBank(selectedId)
		   }
		});
		return button.render();
	 }

</script>
{% endblock javascripts %}
