{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
imagen{
	width: 100PX;
	height: 100px;
	margin: 10px;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
   <div class="page-inner animated fadeInRight">
      <div class="page-header">
         <h4 class="page-title">Academic</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="#">Academic</a>
            </li>
         </ul>
      </div>
      <div class="page-category">
         
        
           
            <main class="card-body is-loading-lg">
               
            </main>
         
      </div>
   </div>
</div>
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div id="addNewModalContent" class="modal-dialog  modal-dialog-centered" role="document">

   </div>
</div>
<div class="modal fade" id="addNewModale" tabindex="-1" role="dialog" aria-hidden="true">
   <div id="addNewModalContente" class="modal-dialog  modal-dialog-centered" role="document">

   </div>
</div>
<div class="modal fade" id="addNewModales" tabindex="-1" role="dialog" aria-hidden="true">
   <div id="addNewModalContentes" class="modal-dialog  modal-dialog-centered" role="document">

   </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
    let id = {{id}}
    let editmode = false
    let savemode= false
    let type=false
    let query = ""
    let selectedId = ""
    let limit = 4
    let page =""
    const renderContent = (id,page,limit)=>{
         document.querySelector("main.card-body").classList.add("is-loading")
         fetch("{% url 'contenido_unidades'%}", {
            ...fetchObject,
            body: JSON.stringify({
               query,
               page,
               limit,
               pk:id
            })
         })
         .then(async(res)=>{
            result = await res.text()
            document.querySelector("main.card-body").classList.remove("is-loading")
            document.querySelector("main.card-body").innerHTML = result
         })
      }
      renderContent(id,page,limit)
const openAddModulos = (id) => {
        idSeleted=id
        editmode = false
        type=false
        fetch("{% url 'modaladdmodulos'%}", {
           ...fetchObject,
               
        })
           .then(async (res) => {
              document.getElementById("addNewModalContente").innerHTML = await res.text()
           })
           .then(() => {
              $("#addNewModale").modal("show")
              const formPrograma = document.getElementById("formPrograma")
              let rules = {
                 resumenProgram: {
                    required: true,
                    maxlength: 200,
                    minlength: 20
                 },
                 urlProgram: {
                    required: true,
                    maxlength: 15,
                    minlength: 3
                 },
              }
              commonValidator = $("#formPrograma").validate({
                 rules,
                 highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                 },
                 success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                 },
              });
              formPrograma.addEventListener("submit", (e) => {
                 e.preventDefault()
                 if($("#formPrograma").valid()){
                    setLoading()
                    clickSave(formPrograma, "{% url 'modaladdmodulos' %}")
                       .then(() => {
                          $("#addNewModale").modal("hide")
                          stopLoading()
                          renderContent(id,page,limit)
                       })
     
                 }
              })
           })
     }
     const updateModel = (url, method, data, id) => {
        return fetch(url, {
           ...fetchObject,
           body: JSON.stringify({
              method,
              data,
              id
           })
        })
     }
     const clickSave = (formElement, url) => {
        const formData = new FormData(formElement);
        const data = {}
        if (type){
         var x = document.getElementById("imagen")
         console.log(x)
         
         var file = x.files[0];
         console.log(file.name)
                
         formData.append('imagen', file.name);
                 
        }
        for (var [key, value] of formData.entries()) {
           data[key] = value
           
        }
        if (editmode) {
           return updateModel(url, "Update", data, idSeleted)
              .then(async (res) => {
                 const text = JSON.parse(await res.text())
                 if (text.message == "error")  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                 else  makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")

              })
        }
        else {
           return updateModel(url, "Create", data, idSeleted)
              .then(async (res) => {
                 const text = JSON.parse(await res.text())
                 if (text.message == "error")  makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

                 else  makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")

              })
        }
       
     }
     const openEditmodulo = (id,pages,padre) =>{
      editmode = true
      idSeleted = id
      fetch("{% url 'modaladdmodulos'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method:"Editar",
            id
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContente").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModale").modal("show")
            const formPrograma = document.getElementById("formPrograma")
            let rules = {
               resumenProgram: {
                  required: true,
                  maxlength: 200,
                  minlength: 20
               },
               urlProgram: {
                  required: true,
                  maxlength: 15,
                  minlength: 3
               },
            }
            commonValidator = $("#formPrograma").validate({
               rules,
               highlight: function (element) {
                  $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
               },
               success: function (element) {
                  $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
               },
            });
            formPrograma.addEventListener("submit", (e) => {
               e.preventDefault()
               if ($("#formPrograma").valid()){
                  setLoading()
                  clickSave(formPrograma, "{% url 'modaladdmodulos' %}")
                     .then(() => {
                        $("#addNewModale").modal("hide")
                        stopLoading()
                        renderContent(padre,pages,limit)
                     })
               }
            })
         })
   } 
   const openDeletemodulo = async (id,page,padre) =>{
      
      const elimino = await alerta(3)
      if(elimino){
         fetch("{% url 'modaladdmodulos'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id
            })
         })
         .then(async (res) => {
            const text = JSON.parse(await res.text())
            if (text.message == "error")  makeMessage(4, "{% translate 'Notificacion' %}", "{% translate 'un error ha occurrido y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

            else  makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Archivo eliminado satisfactoriamente' %}", 'fas fa-trash-alt')

         })
         .then(()=>{
            renderContent(padre,page,limit)
         })
      }
   } 
   const rendercurso = (id,page,limit)=>{
      document.querySelector("#renderpro").classList.add("is-loading")
      fetch("{% url 'contenido_cursos'%}", {
         ...fetchObject,
         body: JSON.stringify({
            query,
            id,
            page,
            limit
         })
      })
      .then(async(res)=>{
         result = await res.text()
         document.querySelector("#renderpro").classList.remove("is-loading")
         document.querySelector("#renderpro").innerHTML = result
      })
   }  
   const openAddcursos = (id) => {
      idSeleted=id
      editmode = false
      type= true
      fetch("{% url 'modaladdcursos'%}", {
         ...fetchObject,
             
      })
         .then(async (res) => {
            document.getElementById("addNewModalContentes").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModales").modal("show")
            const formPrograma = document.getElementById("formProgram")
            let rules = {
               resumenProgram: {
                  required: true,
                  maxlength: 200,
                  minlength: 20
               },
               urlProgram: {
                  required: true,
                  maxlength: 15,
                  minlength: 3
               },
               descriptionProgram: {
                  required: true,
                  maxlength: 200,
                  minlength: 20
               },
               creditos: {
                  required: true
                  
               },
               Condicion: {
                  required: true
                  
               },
               categoryProgram: {
                  required: true
                  
               },
               Ritmo: {
                  required: true
                  
               },
               disponibleCourse: {
                  required: true
                  
               },
               checkDurationCB: {
                  required: true
                  
               },
               checkDurationC: {
                  required: true
                  
               },
            }
            commonValidator = $("#formProgram").validate({
               rules,
               highlight: function (element) {
                  $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
               },
               success: function (element) {
                  $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
               },
            });
            formPrograma.addEventListener("submit", (e) => {
               e.preventDefault()
               if($("#formProgram").valid()){
                  setLoading()
                  clickSave(formPrograma, "{% url 'modaladdcursos' %}")
                     .then(() => {
                        $("#addNewModales").modal("hide")
                        stopLoading()
                        rendercurso(idSeleted,page,limit)
                     })
   
               }
            })
         })
   }  
   const openDeletecursos = async (id,padre,page) =>{
   
      const elimino = await alerta(3)
      if(elimino){
         fetch("{% url 'modaladdcursos'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id,
               padre
            })
         })
         .then(async (res) => {
            const text = JSON.parse(await res.text())
            if (text.message == "error")  makeMessage(4, "{% translate 'Notificacion' %}", "{% translate 'un error ha occurrido y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')

            else  makeMessage(1, "{% translate 'Notificacion' %}", "{% translate 'Archivo eliminado satisfactoriamente' %}", 'fas fa-trash-alt')

         })
         .then(()=>{
            rendercurso(padre,page,limit)
         })
      }
   } 
   const openEditcursos = (id,padre,pages) =>{
      editmode = true
      idSeleted = id
      fetch("{% url 'modaladdcursos'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method:"Editar",
            id
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContente").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModale").modal("show")
            
            const formPrograma = document.getElementById("formProgram")
            let rules = {
               resumenProgram: {
                  required: true,
                  maxlength: 200,
                  minlength: 20
               },
               urlProgram: {
                  required: true,
                  maxlength: 15,
                  minlength: 3
               },
            }
            commonValidator = $("#formProgram").validate({
               rules,
               highlight: function (element) {
                  $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
               },
               success: function (element) {
                  $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
               },
            });
            formPrograma.addEventListener("submit", (e) => {
               e.preventDefault()
               if ($("#formProgram").valid()){
                  setLoading()
                  clickSave(formPrograma, "{% url 'modaladdcursos' %}")
                     .then(() => {
                        $("#addNewModale").modal("hide")
                        stopLoading()
                        rendercurso(padre,pages,limit)
                     })
               }
            })
         })
   } 
   const goToTable =  async (Page,padre)  => {
      const contenedorLista = document.getElementById("renderList")
      
      const resultado = await  renderContent(padre,Page,limit)
         contenedorLista.innerHTML = resultado
   
   
   }
   const goToTables =  async (Page,padre)  => {
      const contenedorLista = document.getElementById("renderpro")
      
      const resultado = await  rendercurso(padre,Page,limit)
         contenedorLista.innerHTML = resultado
   
   
   }   
   const opengorelation = (id) =>{
      window.location.href = `{% url 'relation' %}?id=${id}`
                   
   }
   const openaddactividades = (id) =>{
      window.location.href = `{% url 'createactividades' %}?id=${id}`
                   
   }
   $(document).on('change', "#imagen", function(e){
      if(this.files && this.files[0]){
         /* Creamos la Imagen*/
           var img = $('<img >');
         /* Asignamos el atributo source , haciendo uso del método createObjectURL*/
           img.attr('src', URL.createObjectURL(this.files[0]));
         /* Añadimos al Div*/
          $('#preview').append(img);
        }  
        var x = document.getElementById("imagen")
        console.log(x)
        var txt = "";
        if (x.files.length > 0) {
 
            var file = x.files[0];
            if((file.size / 1024 / 1024).toFixed(2) > 6){
 
                swal("Max Upload size is 6MB only")
 
            }else if(!(x.files[0].type.toLowerCase().endsWith('/png')||x.files[0].type.toLowerCase().endsWith('/jpg')||x.files[0].type.toLowerCase().endsWith('/jpeg'))){
 
                swal("Only JPG, JPEG and PNG file types are allowed")
 
            }else{
             var formdata = new FormData();
             formdata.append('imagen', file);
             formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
             
             $.ajax({
                     type: "POST",
                     url: "{% url 'imagesave' %}", 
                     data : formdata,
                     processData: false,
                     contentType: false,
                      success: function (response) {
 
                         
 
                             
 
                     },
                     error: function () {}
             });
            }
 }  
   }) 

   const toggle = () => {
		
		const toggle = document.getElementById("checkDurationC")
		const max=document.getElementById("imagen")
		
		if (toggle.checked){
			max.hidden=false
			
		}
		else{

			max.hidden=true
			
		}
	}  
   function borrarImage(id) {

      

              $.ajax({
                  type: "POST",
                  
                  url: "{% url 'borrarImagenes' %}", 
                  data : {'ids': id, 'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                  success: function (response) {

                      if(response.mensaje){
                          
                         
                          swal(response.mensaje)
                          document.getElementById('preview').innerHTML = ''
                          document.getElementById('buttons').innerHTML = ''
                          
                      }

                  },
                  error: function () {}
              });
              
        

  }     
</script>	
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}