{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Inicio</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Capacitacion</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					
				</ul>
			</div>
			<div class="page-category">
        		
                   
                   
                    
                  
                  
                  
                  
                  
                  
                  
                   
                 
                      
  
      		</div>
		</div>
	</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>

</script>

{% endblock javascripts %}
