{% extends "layouts/base.html" %}
{% load filters%}
{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
	#menu ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 250px;
		font-family: Arial, sans-serif;
		font-size: 11pt;
	}
	#menu ul li {
		background-color: #666;
	}
	#menu ul li a {
		color: #ccc;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 10px 10px 10px 20px;
	}
	#menu ul li a:hover {
		background: #000;
		border-left: 10px solid #333;
		color: #fff;
	}
	@media (max-width: 768px) {
		#mainItems {
			Display: block;
			
		}
		#divis{
			width: 100%;
		}
		#diviso{
			column-width: auto;
			
		}
		#menu ul {
			width: 300px;	
		}
	  }
	
	
</style>	
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Inicio</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Capacitacion</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					
				</ul>
			</div>
			<div class="page-category">
				<div class="card">
					<section >
						<div class="form-group" id="groupDate">
					 
						   <div class="row" id="mainItems">
							   <div id="divis" class="card " style="background-color: #1a2035 !important; color: white;">
								<div class="card-body">
								 <div class="section-header">
									<h3 >Componentes</h3>
									
								 </div> 
								
								 <div id="menu">
									
								 </div>
							  
								</div>   
								  
								
							   </div>
							  
							   <div id="diviso" class="card col-md-8 " style="background-color: #1a2035 !important; color: white;">
								 <div class="card-body">
									<div id="renderpro" class="col-md-12">   
									   <h3 class="display-4">Ver Actividades</h3>
									   
									</div>
									
								</div>   
								
								  
							  </div>
						   </div>
					 
					   </div>
					 </section>
					 
									   
						
			   </div>
      		</div>
		</div>
	</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
let query="" 
const rendertemas = ()=>{
	document.querySelector("#menu").classList.add("is-loading")
	fetch("{% url 'renderstemas'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  query
		  
	   })
	})
	.then(async(res)=>{
	   result = await res.text()
	   document.querySelector("#menu").classList.remove("is-loading")
	   document.querySelector("#menu").innerHTML = result
	})
 }
 rendertemas() 	
 const renderactividades = (id)=>{
	
	
	
	renderContent(id)
 
}
const renderContent = (id)=>{
			document.querySelector("#renderpro").classList.add("is-loading")
			fetch("{% url 'renderstudent'%}", {
			   ...fetchObject,
			   body: JSON.stringify({
				  query,
				  id
			   })
			})
			.then(async(res)=>{
			   result = await res.text()
			   document.querySelector("#renderpro").classList.remove("is-loading")
			   document.querySelector("#renderpro").innerHTML = result
			})
 }	
 const goatv=(id) =>{
	window.location.href = `{% url 'verpaginas_student' %}?id=${id}`
 }	
 
</script>

{% endblock javascripts %}
