{% load static%}
<div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title">Resources bank</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <nav>
         <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-recent-tab" data-toggle="tab" href="#nav-recent" role="tab"
               aria-controls="nav-recent" aria-selected="true">Recent</a>
            <a class="nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank"
               aria-selected="false">Bank</a>
            <a class="nav-link" id="nav-upload-tab" data-toggle="tab" href="#nav-upload" role="tab"
               aria-controls="nav-upload" aria-selected="false">Upload</a>
            <a class="nav-link" id="nav-youtube-tab" data-toggle="tab" href="#nav-youtube" role="tab"
               aria-controls="nav-youtube" aria-selected="false">Video</a>
         </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
         <div class="tab-pane fade show active" id="nav-recent" role="tabpanel" aria-labelledby="nav-recent-tab">
            <div class="bank-header">
               <ul class="breadcrumbs m-0">
                  <li class="separator">
                     <i class="flaticon-right-arrow"></i>
                  </li>
                  <li class="nav-home">
                     <span>
                        Recent
                     </span>
                  </li>
               </ul>
            </div>
            <div class="bank-body" id="recentBankBody">
               {% for recurso in recursos%}
               <div id="resourceRecent{{recurso.pk}}" class="resources-item" onclick="selectedRecent('{{recurso.pk}}','{{recurso.path_rutas}}','{{recurso.fk_tipoRecurso.valor_elemento}}')">
                  {% if recurso.fk_tipoRecurso.valor_elemento == 'Tipo_video'%}
                  <div class="resources-item-front" style="background: url('http://i3.ytimg.com/vi/{{recurso.path_rutas}}/hqdefault.jpg'); background-size: cover;">
                  {% elif recurso.fk_tipoRecurso.valor_elemento == 'Recurso_vimeo'%}
                  <div class="resources-item-front" style="background: url('{% static 'assets/img/vimeo-logo.png'%}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
                  {% elif recurso.fk_tipoRecurso.valor_elemento == 'Tipo_imagen'%}
                  <div class="resources-item-front" style="background: url('/media/{{recurso.path_rutas}}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
                  {% elif recurso.fk_tipoRecurso.valor_elemento == 'Tipo_audio'%}
                  <div class="resources-item-front" style="background: url('{% static 'assets/img/audio-thumbnail.png' %}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
                  {% elif recurso.fk_tipoRecurso.valor_elemento == 'Tipo_pdf'%}
                  <div class="resources-item-front" style="background: url('{% static 'assets/img/pdf-thumbnail.png' %}'); background-size: contain; background-position:center; background-repeat: no-repeat;">
                  {% endif %}
                     
                  </div>
                  <div class="resources-item-details">
                     <div class="resources-item-description">
                        <p>Type: {{recurso.fk_tipoRecurso.desc_elemento}}</p>
                     </div>
                     <div class="resources-item-tags">
                        {% for tag in recurso.tagrecurso_set.all %}
                        <span>{{tag.fk_tag.desc_tag}}</span>
                        {% endfor %}
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         <div class="tab-pane fade" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
            <div class="bank-header" id="tagBankHeader">
               <div class="input-group">
                  <input id="resourceSearch" type="text" class="form-control" placeholder="Search for...">
                  <div class="input-group-append">
                     <span id="clearBankBtn" class="btn btn-danger">
                        <i class="fa fa-broom"></i>
                     </span>
                     <span id="searchBankBtn" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                     </span>
                  </div>
               </div>
               <div id="backBar" class="d-none justify-content-between align-center">
                  <span id="backBankBtn" class="btn btn-danger">
                     <i class="fas fa-arrow-left"></i>
                  </span>
                  <h2 id="tagNameBar" style="margin:0; display:flex; flex-grow:1; align-items:center; justify-content:center;"></h2>
               </div>
            </div>
            <div class="bank-body" id="tagBankBody">
               {% for tag in tags%}
               <div class="resources-item" id="tagItem{{tag.pk}}" onclick="selectedTag('{{tag.pk}}','{{tag.desc_tag}}')">
                  <div class="resources-item-front">
                     <div class="resources-item-title" style="font-size: 1.5rem; font-weight: bold;">
                        {{tag.desc_tag}}
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
            <div class="form-row">
               <div class="form-group col-12">
                  <label class="col-form-label">Upload your files</label>
               </div>
            </div>
            <form class="dropzone" id="my-awesome-dropzone">
               {% csrf_token %}
               <div class="dz-message" data-dz-message>
                  <div class="icon">
                     <i class="flaticon-file"></i>
                  </div>
                  <h4 class="message">Drag and Drop files here</h4>
               </div>
               <div class="previews"></div>
               <div class="form-group col-md-12">
                  <label class="col-form-label mr-1" for="tagResource">Tags</label>
                  <input type="text" id="tagResource3" name="tagResource" class="form-control" data-role="tagsinput">
               </div>
               <div class="form-group col-md-12 m-auto">
                  <div class="custom-control custom-checkbox ml-2">
                     <input type="checkbox" class="custom-control-input" name="checkSharedCB" id="checkSharedCB3">
                     <label class="custom-control-label" for="checkSharedCB3">Shared resource</label>
                  </div>
               </div>

            </form>
         </div>
         <div class="tab-pane fade" id="nav-youtube" role="tabpanel" aria-labelledby="nav-youtube-tab">
            <form class="form" id="formYoutube">
               <div class="form-row">
                  <div class="form-group col-12">
                     <label class="col-form-label" for="urlResource">YouTube/Vimeo URL</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="urlResource" name="urlResource" placeholder="Enter URL" required>
                        <div class="input-group-append">
                           <button type="submit" id="findInYoutube" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Look for...">
                              <i class="fas fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-12">
                     <label class="col-form-label mr-1" for="titleResource4">Title</label>
                     <input type="text" id="titleResource4" name="titleResource" placeholder="Type a title" class="form-control" required>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-5 m-auto">
                     <div class="custom-control custom-checkbox ml-2">
                        <input type="checkbox" class="custom-control-input" name="checkSharedCB" id="checkSharedCB4">
                        <label class="custom-control-label" for="checkSharedCB4">Shared resource</label>
                     </div>
                  </div>
                  <div class="form-group col-md-7">
                     <label class="col-form-label mr-1" for="tagResource4">Tags</label>
                     <input type="text" id="tagResource4" name="tagResource" class="form-control" data-role="tagsinput">
                  </div>
               </div>
               <div id="previewYoutube" class="form-row">

               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <form class="form" id="formBotones">
         <div class="form-row">
            <div class="form-group">
               <button class="btn btn-danger" id="cleanBankBtn">Clean<i class="fas fa-broom ml-2"></i></button>
            </div>
            <div class="form-group">
               <button type="submit" id="insertBankBtn" class="btn btn-primary">Insert<i class="fas fa-save ml-2"></i></button>
            </div>
         </div>
      </form>
   </div>
</div>
