

<div class="form-row">
    <h2>Options</h2>
</div>

<div class="form-row col-md-12">
    <div class="form-group col-md-6">
        <label for="optionText">Option A text</label>
        <textarea name="optionText" class="form-control" id="optionTextA" cols="100" rows="2"  placeholder="Write here the text for the option A"></textarea>
    </div>

      <div class="form-group col-md-6">
        <label for="optionText">Option B text</label>
        <textarea name="optionText" class="form-control" id="optionTextB" cols="100" rows="2"  placeholder="Write here the text for the option B"></textarea>
    </div>
</div>   


<div class="form-row col-md-12">
    <div class="form-group col-md-12 d-flex justify-content-start">
        <button class="btn btn-success mt-4" id="addRow">
            Add Pair <i class="fas fa-arrow-down ml-1"></i>
        </button>
							 &nbsp;
							 &nbsp;
     <input type="button" id='repatriar' onclick="Repartir()" class="btn btn-success mt-4" id="Points" value="Distribute Points ">
                             
                            
                           

    </div>
</div>

<div class="form-row col-md-12 text-center">
    <div class="form-group col-md-12">
        <table class="table table-sm table-bordered  table-hover table-responsive">
            <thead>

                 <tr>
                    <th>
                       A
                    </th>

                    <th>
                        
                    </th>  

                    <th>
                        B
                    </th>  

                    <th>
                   
                    </th>  
                    
                    
                    <th  rowspan='2'>
                        Value
                    </th>       

                    <th rowspan='2'>
                        Actions
                    </th>   
                        
                               
                   
                </tr>
                <tr>
                    <th class="col-md-6">
                        Option text
                    </th>
                       
                      <th>
                   
                    </th>  

                     <th class="col-md-6">
                        Option text
                    </th>
                  

                    
                               
                       <th>
                    </th>  
                                                                    
                </tr>
            </thead>
            <tbody  id="tableContentAssociation">
               
            </tbody>
        </table>  
    </div>
</div>  
    