<div class="modal-content">
    <div class="modal-header">
       <h5 class="modal-title">Actividad</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <form id="formActividad" class="form">
       <div class="modal-body">
          <div id="sectionGeneral">
             <div class="form-row">
                <div class="form-group col-md-6">
                   <label for="descriptionActivity" class="col-form-label">Title</label>
                   <input type="text" class="form-control" name="descriptionActivity" id="descriptionActivity"
                      placeholder="Enter a title" required value="{% if modelo %}{{ modelo.descripcion }}{% endif %}">
                </div>
                <div class="form-group col-md-6">
                   <label for="urlActivity" class="col-form-label">Codename</label>
                   <input type="text" class="form-control" name="urlActivity" id="urlActivity"
                      placeholder="Enter a codename" required value="{% if modelo %}{{ modelo.url }}{% endif %}">
                </div>
             </div>
             <div class="form-row">
                <div class="form-group col-12">
                   <label for="resumenActivity" class="col-form-label">Description</label>
                   <textarea class="form-control" name="resumenActivity" id="resumenActivity"
                      placeholder="Enter a description here">{% if modelo %}{{ modelo.resumen}}{% endif%}</textarea>
                </div>
             </div>
          </div>
          <hr>
          <div id="sectionDetailed">
 
          </div>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                class="fas fa-arrow-left mr-2"></i>Back</button>
          <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
       </div>
    </form>
 </div>