<div class="form-row">
   <div class="form-group col-md-6">
      <label for="minApp">Minimo aprobar</label>
      <input type="text" name="minApptest" class="form-control" id="minApptest" placeholder="Enter a number"
      {% if modelo %}{% if modelo.calificacion_aprobar %} value="{{modelo.calificacion_aprobar}}" {% endif %}{% endif %}>
   </div>
   <div class="form-group col-md-6">
      <label for="repeats">Numero de repeticiones</label>
      <input type="text" name="repeatstest" class="form-control" id="repeatstest" placeholder="Enter a number"
      {% if modelo %}{% if modelo.nro_repeticiones %} value="{{modelo.nro_repeticiones}}" {% endif %}{% endif %}>
   </div>
</div>
<div class="form-row">
   <div class="form-group col-md-12">
      <label for="qualification">Test Total Qualification</label>
      <select class="form-control" id="qualificationtest" name="qualificationtest" {% if modelo %}disabled{% endif %}>
         <option value="null" disabled {% if not modelo %}selected{% else %}{% if not modelo.fk_escala_evaluacion %} selected {% endif %}{% endif %}>Select an option</option>
   
         {% for cal in escalas %}
         <option value="{{cal.pk}}" {% if modelo %}{% if modelo.fk_escala_evaluacion_id == cal.pk %}selected{% endif %}{% endif %}> {{cal}}</option>
         {% endfor %}
      </select>
   </div>
</div>



<div class="form-row">
   <div class="form-group col-md-6">
      <label for="durationActivity" class="col-form-label">Tipo Duracion</label>
      <select class="form-control" id="duration" name="duration" {% if modelo %}disabled{% endif %}>
         <option value="null" disabled {% if not modelo %}selected{% else %}{% if not modelo.fk_escala_evaluacion %} selected {% endif %}{% endif %}>Select an option</option>
   
         {% for duration in tipoDuracion %}
         <option value="{{duration.pk}}" {% if modelo %}{% if modelo.fk_escala_evaluacion_id == cal.pk %}selected{% endif %}{% endif %}> {{duration}}</option>
         {% endfor %}
      </select>
   </div>
   <div class="form-group col-md-6">
      <label for="repeats" class="col-form-label">Duracion</label>
      <input type="text" name="Duracion_repeats" class="form-control" id="Duracion_repeats" placeholder="Enter a number"
      {% if modelo %}{% if modelo.nro_repeticiones %} value="{{modelo.nro_repeticiones}}" {% endif %}{% endif %}>
   </div>
</div>
<div class="form-group col-md-6">
<label id="modalidad" for="urlProgra" class="col-form-label" >Enviar mensaje</label>
<select class="form-control" name="modalidades" id="modalidades" required
> 
   <option value="0"  {% if tareas.modalidad == '0' %}selected{% endif %}>Presencial</option>
  
   <option value="1"  {% if tareas.modalidad == '1' %}selected{% endif %}>Online</option>
   <option value="2"  {% if tareas.modalidad == '2' %}selected{% endif %}>MixTa</option>
</select> 
<label id="modalidad" for="urlProgra" class="col-form-label" >Enviar mensaje al lider</label>
<select class="form-control" name="modalidades" id="modalidades" required
> 
   <option value="0"  {% if tareas.modalidad == '0' %}selected{% endif %}>Presencial</option>
  
   <option value="1"  {% if tareas.modalidad == '1' %}selected{% endif %}>Online</option>
   <option value="2"  {% if tareas.modalidad == '2' %}selected{% endif %}>MixTa</option>
</select> 
</div>