<div class="modal-content">

    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title">New question</h4>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form class="form" id="formQuestion" name="formQuestion">
        <div class="modal-body">
            <div id="seccionGeneral">
                <div class="form-row">
                    <h2>General</h2>
                </div>


   
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <label for="questionText">Question text</label>
                        <textarea name="questionText" class="form-control" placeholder="Write here the text for the question" id="questionText" cols="100"  rows="4"></textarea>
                    </div>                       
                </div>    
    
                <div class="form-row col-md-12 mt-3">
                    <div class="form-group col-md-12">
                        <label for="questionPoints">Question points</label>
                        <input type="number" step='any' name="questionPoints" class="form-control" id="questionPoints" placeholder="Enter the number of points">
                    </div>        
                </div> 
            </div>
            <hr>
            {% if not tipoPreguntas == 'Parrafo' %}
            <div id="seccionDetallada">
                <div class="form-row">
                    <h2>Options</h2>
                </div>
                
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <label for="optionText">Option text</label>
                        <textarea name="optionText" class="form-control" id="optionText" cols="100" rows="4" placeholder="Write here the text for the options"></textarea>
                    </div>
                </div>   
                
                
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12 d-flex justify-content-start">
                        <button class="btn btn-success mt-4" id="addRow">
                            Add option <i class="fas fa-arrow-down ml-1"></i>
                
                        </button>     
                        &nbsp;
                        &nbsp;
                        {% if  tipoPreguntas == 'Multiple' %}
                           <input type="button" id='repatriar' onclick="RepartirModal()" class="btn btn-success mt-4" id="Points" value="Distribute Points ">
                        {% elif tipoPreguntas == 'VoF' %}
                        <input type="button" id='repatriar' onclick="RepartirModal()" class="btn btn-success mt-4" id="Points" value="Distribute Points ">
                     
                        {% endif %}               
                
                    </div>
                </div>
                
                <div class="form-row col-md-12 text-center">
                    <div class="form-group col-md-12">
                          <table class="table table-sm table-bordered table-striped table-hover table-responsive">
                            <thead class="form-group col-md-12">
                                <tr>
                                    {% if  tipoPreguntas == 'Simple' %}
                                    <th class="col-md-8">
                                        Option text
                                    </th>
                                    <th>
                                        Correct option
                                    </th>                     
                                    <th>
                                        Actions
                                    </th>
                                    {% elif tipoPreguntas == 'Multiple' %}
                                    <th class="col-md-10">
                                        Option text
                                    </th>
                                    <th>
                                        Value
                                    </th>                     
                                    <th>
                                        Actions
                                    </th>
                                    {% elif tipoPreguntas == 'VoF' %}
                                    <th class="col-md-8">
                                        Option text
                                    </th>
                                    <th>
                                        True
                                    </th> 
                                     <th>
                                       False
                                    </th>  
                                      <th>
                                       Value
                                    </th>                     
                                    <th>
                                        Actions
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody  id="tableContentSimple">
                               
                            </tbody>
                        </table>
                    </div>
                </div>  
                     
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fas fa-arrow-left mr-2"></i>Back
            </button>
            <button type="submit" value="Submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
        </div>
    </form>
</div><!-- /.modal-content -->
