<div class="modal-content">
    <div class="modal-header">
       <h5 class="modal-title">Actividad</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <form id="formActividad" class="form">
       <div class="modal-body">
          <div id="sectionGeneral">
             <div class="form-row">
                <div class="form-group col-md-6">
                   <label for="descriptionActivity" class="col-form-label">Titulo</label>
                   <input type="text" class="form-control" name="descriptionActivity" id="descriptionActivity"
                      placeholder="Enter a title" required value="{% if modelo %}{{ modelo.titulo }}{% endif %}">
                </div>
                <div class="form-group col-md-6">
                   <label for="urlActivity" class="col-form-label">url</label>
                   <input type="text" class="form-control" name="urlActivity" id="urlActivity"
                      placeholder="Enter a codename" required value="{% if modelo %}{{ modelo.url }}{% endif %}">
                </div>
             </div>
             <div class="form-row">
                <div class="form-group col-12">
                   <label for="resumenActivity" class="col-form-label">Descripcion</label>
                   <textarea class="form-control" name="resumenActivity" id="resumenActivity"
                      placeholder="Enter a description here">{% if modelo %}{{ modelo.descripcion}}{% endif%}</textarea>
                </div>
             </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
               <label for="disponibleLesson">disponible desde:</label>
               <input type="date" class="form-control" name="disponibleLesson" id="disponibleLesson" required {% if modelo %} {% if modelo.fecha_disponibilidad %} value="{{ modelo.fecha_disponibilidad|date:'Y-m-d'}}" {% endif %}{% endif %}>
            </div>
            <div class="form-group col-md-6">
               <label for="estatusLesson">Status</label>
               <select class="form-control" id="estatusLesson" name="estatusLesson" required>
                  <option value="null" disabled {% if not modelo %} selected {% endif %}>Select an option</option>
                  {% for item in status %}
                  <option value="{{item.pk}}" {% if modelo %} {% if modelo.fk_statuscomponente_id == item.pk %} selected {% endif %} {% endif %}>{{item.desc_elemento}}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-md-12">
               <label for="creditos" class="col-form-label">Creditos</label>
               <input type="text" class="form-control" name="creditos" id="creditos"
                  placeholder="#" required
                  value="{% if modelo %}{{ modelo.peso_creditos }}{% endif %}"
                  >
                  <label id="tipo"  for="tipo_ritmo" class="col-form-label" hidden>Tipo de Ritmo</label>
                  <select class="form-control" name="tipo_ritmo" id="tipo_ritmo" required
                  hidden>
                     <option value="null" disabled {% if not tareas %}selected{% endif %}>Seleccione una opcion</option>
                     {% for item in categorias %}
                     {%if item.mostrar_en_combos == 1%}
                     <option value="{{item.id_tabla}}" {% if tareas.fk_tipoTiempoEntrega_id == item.id_tabla %}selected{% endif %}>{{item.desc_elemento}}</option>
                     {%endif%}
                     {% endfor%}
                  </select> 
                  <label id="ritmo_entregas" for="urlProgram" class="col-form-label" hidden>Ritmo</label>
                  <input type="text" class="form-control" name="ritmo_entrega" id="ritmo_entrega"
                     placeholder="Enter a codename" required
                     value="{{tareas.tiempo_entrega}}"
                     hidden>
                  <label id="modalidad" for="urlProgra" class="col-form-label" hidden>Modalidad</label>
                  <select class="form-control" name="modalidades" id="modalidades" required
                  hidden> 
                     <option value="0"  {% if tareas.modalidad == '0' %}selected{% endif %}>Presencial</option>
                    
                     <option value="1"  {% if tareas.modalidad == '1' %}selected{% endif %}>Online</option>
                     <option value="2"  {% if tareas.modalidad == '2' %}selected{% endif %}>MixTa</option>
                  </select>    
            </div>
              
          </div>
          <div class="form-group col-md-12">
            <label id="min" for="min" hidden>Contenido</label>
            <textarea id="summernote" class="form-control" name="summernote" hidden>{{tareas.path_recurso}}</textarea> 
          </div>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                class="fas fa-arrow-left mr-2"></i>Back</button>
          <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
       </div>
    </form>
 </div>