<div class="modal-content">
    <div class="modal-header">
       <h5 class="modal-title">Instrucciones del bloque</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <form id="formActividad" class="form">
       <div class="modal-body">
        <div class="form-row col-md-12">
            <div class="form-group col-md-12">
                <label for="blockText">instrucciones</label>
                <textarea name="blockText" class="form-control" placeholder="Write here a comment for the block" id="blockText" cols="100" rows="9">{{bloques.instrucciones_bloque}}</textarea>
            </div>                       
        </div>  
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                class="fas fa-arrow-left mr-2"></i>Back</button>
          
       </div>
    </form>
 </div>