{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
        		<h2>Sesion: {{actividad.titulo}}</h2>
				<div class="card"> 
				<form id="formActividad" class="form">	       
				<main class="card-body is-loading-lg">
                  
				</main>
				<div class="modal-footer">
					<button type="submit" id="save" class="btn btn-radius btn-azul">Save<i class="fas fa-save ml-2"></i></button>
				</div>
			   </form>
			</div>   

      		</div>
		</div>
	</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
let padre={{padre}}
let rev = '{{pro_sesion.recurrente}}'
let semaforo={{title}}	
let query = ""	
let tipe = {{actividad.modalidad}}
let pk = {{actividad.pk}}
let edita='{{pro_sesion.pk}}'
const arrayLoco = [{% for cal in categorias %}{ id: "{{cal.id_tabla}}", descripcion: "{{cal.desc_elemento}}" }, {% endfor %}]
let hashObj = arrayLoco.reduce(function (acc, e) {
	acc[e.id] = e.descripcion
	return acc
}, {})
const renderContent = (id,tipo)=>{
	document.querySelector("main.card-body").classList.add("is-loading")
	fetch("{% url 'rendersesiones'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  query,
		  id,
		  tipo
	   })
	})
	.then(async(res)=>{
	   result = await res.text()
	   document.querySelector("main.card-body").classList.remove("is-loading")
	   document.querySelector("main.card-body").innerHTML = result
	   
	   const toggle = document.getElementById("checkDurationC")	
	
	
	if (toggle.checked){
		
		renderRepeat('edit',pk)
	}
		
	  
	})
 }
 renderContent(pk,tipe)
 

const formActividad = document.getElementById("formActividad")
formActividad.addEventListener('submit', (e)=>{
	e.preventDefault()
  if(semaforo==0) {
	setLoading()
	const formData = new FormData(formActividad);
	const data = {}
	for (var [key, value] of formData.entries()) {
	   data[key] = value
	   console.log(data[key])
	} 
	updateModel("{% url 'savesesionprogramas'%}", "Create", data, pk,null)
      .then(async (res) => {
         const text = JSON.parse(await res.text())
         if (text.message == "error") makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
         else makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")
          stopLoading()
		  window.location.href = `{% url 'createactividades' %}?id=${padre}`
      })
	}else{
		setLoading()
		const formData = new FormData(formActividad);
	    const data = {}
	    for (var [key, value] of formData.entries()) {
	    data[key] = value
	   
	    } 
		console.log(data)
		updateModel("{% url 'savesesionprogramas'%}", "Edit", data, edita,pk)
        .then(async (res) => {
        const text = JSON.parse(await res.text())
        if (text.message == "error") makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
        else makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")
		stopLoading()
		window.location.href = `{% url 'createactividades' %}?id=${padre}`
				 

      })
	}
})
const updateModel = (url, method, data, id, ed) => {
	return fetch(url, {
	   ...fetchObject,
	   body: JSON.stringify({
		  method,
		  data,
		  id,
		  ed
	   })
	})
 }
 
 const renderRepeat = (tipo,id)=>{
	document.querySelector("#renderListotwo").classList.add("is-loading")
	fetch("{% url 'renderrepeats'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  query:tipo,
		  ids:id
	   })
	})
	.then(async(res)=>{
	   result = await res.text()
	   document.querySelector("#renderListotwo").classList.remove("is-loading")
	   document.querySelector("#renderListotwo").innerHTML = result
	})
 }

 const toggle = () => {
	
	const toggle = document.getElementById("checkDurationC")	
	
	
	if (toggle.checked){
		
		renderRepeat('save',null)
	}
	else{
		document.getElementById("renderListotwo").innerHTML=''
	}
}  
function habilita(form){
	const toggle = document.getElementById(form).disabled= false
}
function cambiar_comb() {
    const renderList = document.getElementById("categoryProgram").value
	const render = hashObj[renderList]
	
}
 	
</script>
{% endblock javascripts %}
