{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
        		<h2>Sesion: {{actividad.titulo}}</h2>
				<div class="card"> 
				<form id="formActividad" class="form">	       
				<main class="card-body is-loading-lg">
                  
				</main>
				<div class="modal-footer">
					<button type="submit" id="save" class="btn btn-radius btn-azul">Save<i class="fas fa-save ml-2"></i></button>
				</div>
			   </form>
			</div>   

      		</div>
		</div>
	</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

let semaforo={{title}}	
let query = ""	
let tipe = {{actividad.modalidad}}
let pk = {{actividad.pk}}
let edita='{{pro_sesion.pk}}'	
const renderContent = (id,tipo)=>{
	document.querySelector("main.card-body").classList.add("is-loading")
	fetch("{% url 'rendersesiones'%}", {
	   ...fetchObject,
	   body: JSON.stringify({
		  query,
		  id,
		  tipo
	   })
	})
	.then(async(res)=>{
	   result = await res.text()
	   document.querySelector("main.card-body").classList.remove("is-loading")
	   document.querySelector("main.card-body").innerHTML = result
	   
	})
 }
 renderContent(pk,tipe)
 

const formActividad = document.getElementById("formActividad")
formActividad.addEventListener('submit', (e)=>{
	e.preventDefault()
  if(semaforo==0) {
	const formData = new FormData(formActividad);
	const data = {}
	for (var [key, value] of formData.entries()) {
	   data[key] = value
	   
	} 
	updateModel("{% url 'savesesionprogramas'%}", "Create", data, pk,null)
      .then(async (res) => {
         const text = JSON.parse(await res.text())
         if (text.message == "error") makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
         else makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")
          
      })
	}else{
		const formData = new FormData(formActividad);
	    const data = {}
	    for (var [key, value] of formData.entries()) {
	    data[key] = value
	   
	    } 
		console.log(data)
		updateModel("{% url 'savesesionprogramas'%}", "Edit", data, edita,pk)
        .then(async (res) => {
        const text = JSON.parse(await res.text())
        if (text.message == "error") makeMessage(4, "{% translate 'Error' %}", "{% translate 'Ha ocurrido un error y no se pudo procesar su solicitud' %}", 'fa fa-exclamation-triangle')
        else makeMessage(1, "{% translate 'Muy Bien!' %}", "{% translate 'Registro guardado' %}", "fa fa-check")
		
      })
	}
})
const updateModel = (url, method, data, id, ed) => {
	return fetch(url, {
	   ...fetchObject,
	   body: JSON.stringify({
		  method,
		  data,
		  id,
		  ed
	   })
	})
 }
</script>
{% endblock javascripts %}
