<div class="form-row">
   <div class="form-group col-md-6">
      <label for="datetimeForum">Fecha inicio</label>
      <input type="date" class="form-control" name="datetimeForum" id="datetimeForum" placeholder="Fecha inicio"   value="{{ pro_sesion.fecha_inicio|date:'Y-m-d'}}" required >
   </div>
   <div class="form-group col-md-6">
      <label for="keyForum">Fecha finalizar</label>
      <input type="date" class="form-control" name="datetimeFinal" id="datetimeFinal" placeholder="Fecha final" value="{{ pro_sesion.fecha_finalizacion|date:'Y-m-d'}}" required >
   </div>
    <div class="form-group col-md-6">
       <label for="linkForum">Link</label>
       <input type="text" class="form-control" name="linkForum" id="linkForum" placeholder="Ingrese Lugar"   value="{{ pro_sesion.datos_sesion|jsonsesion}}" required>
    </div>
    <div class="form-group col-md-6">
      <label for="idForum">Tema</label>
      <input type="text" class="form-control" name="idForum" id="idForum" placeholder="Ingrese Tema"  value="{{ pro_sesion.datos_sesion|jsonsesiontwo}}" required>
   </div>
 </div>
 <div class="form-row">
   
    <div class="form-group col-md-6">
       <label for="keyForum">Key</label>
       <input type="text" class="form-control" name="keyForum" id="keyForum" placeholder="Enter the key"  value="{{ pro_sesion.datos_sesion|jsonsesionfives}}" required>
    </div>
    
      <div class="form-group col-md-6">
         <label for="idForum">Director Ponente</label>
         <select class="form-control" name="Director" id="Director" required>
   <option value="null" disabled {% if not pro_sesion %}selected{% endif %}>Seleccione una opcion</option>
   {% for item in ponente %}
   
   <option value="{{item.idpublico}}" {% if pro_sesion.director_ponente_id == item.idpublico %}selected{% endif %}>{{item}}</option>
   
   {% endfor%}
   </select>
      </div>
      <div class="form-group col-md-6">
         <label for="keyForum">Grupo</label>
         <select class="form-control" name="Grupo" id="Grupo" required>
            <option value="null" disabled {% if not pro_sesion %}selected{% endif %}>Seleccione una opcion</option>
            {% for item in nodo %}
           
            <option value="{{item.if_gruponodo}}"  {% if pro_sesion.fk_grupoNodo_id == item.if_gruponodo %}selected{% endif %} >{{item.Descripcion}}</option>
            
            {% endfor%}
            </select>
      </div>
     
      <div class="form-group col-md-6">
         <label for="keyForum">Uso Horario</label>
         <select class="form-control" name="uso" id="uso" required>
            <option value="null" disabled {% if not pro_sesion %}selected{% endif %}>Seleccione una opcion</option>
            {% for item in usos_horarios %}
           
            <option value="{{item.id_tabla}}"  {% if pro_sesion.gmt_horainternacional_id == item.pk %}selected{% endif %} >{{item.desc_elemento}}</option>
            
            {% endfor%}
            </select>
      </div>
      <div class="form-group col-md-6">
         <label for="idForum">Duracion En Horas</label>
         <input type="text" class="form-control" name="idur" id="idur" placeholder="Ingrese Duracion"  value="{{ pro_sesion.duracion}}" required>
      </div>
      <div class="form-group col-md-6">
         <label for="keyForum">Hora inicio</label>
         <input type="text" class="form-control" name="hora_init" id="Hora_init" placeholder="Hora inicio"  value="{{ pro_sesion.hora_inicio}}" required>
      </div>
      <div class="form-group col-6">
         <div class="custom-control custom-checkbox ml-2">
            <input type="checkbox" class="custom-control-input" name="checkDurationC" id="checkDurationC" onchange="toggle()" {% if pro_sesion.recurrente == 1 %}checked{% endif %}>
            <label class="custom-control-label" for="checkDurationC">Recurrencia</label>
         </div>
          
              
           
            <div id="renderListotwo" class="form-row" >
       
           </div>
       
    </div>
 </div>