<div class="section-header">
   <h3 >Nuevo Proceso</h3>
   <div onclick="openAddProceso('{{padre}}')" class="btn btn-icon btn-success btn-round add-btn btn-card-lg">
      <i class="fas fa-plus"></i>
   </div>
</div>
{% if title %} 
<h3 class="display-4">Aun no ha agregado procesos a este programa</h3>
{% endif %}
{% for item in procesos %}
<ul class="card-list">
   <li class="card-list-item">
      <div class="card-list-item-inner">
         <div class="card-list-item-subtitle">{{item.Titulo}}</div>
        
         <div class="card-list-item-actions">
         <div class="btn-group" role="group">
         <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Edit"
         onclick="openEditProseso('{{item.id_estructura}}','{{item.fk_estructura_padre_id}}')">
         <i class="fas fa-edit"></i>
         </button>
         <button type="button" class="btn btn-icon btn-sm btn-warning ml-1" data-toggle="tooltip"
         data-placement="top" title="Ir" onclick="opengounits('{{item.id_estructura}}')">
         <i class="fas fa-door-open"></i>
         </button>
         <button type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip" data-placement="top"
         title="Delete" onclick="openDeleteProseso('{{item.id_estructura}}','{{item.fk_estructura_padre_id}}')">
         <i class="fas fa-trash-alt"></i>
         </button>
         <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Edit"
         onclick="">
         <i class="fas fa-plus"></i>
         </button>
         </div>
        </div>
      </div>
   </li>
</ul>
{% endfor%}
