{% load filters%}
{% for item  in plan  %}
<ul>
										  
<li>


<a onclick="renderactividades({{item.fk_componentesXestructura.fk_componetesformacion_id}})" >									 
    
    {% if not  item.fk_componentesXestructura.fk_componetesformacion_id|week:request.user  %}
    <div class="locked">
        
        <i class="fas fa-lock" style="color: #FD0F02;"></i>
     </div>
    {% endif %}	
   				
    {{item.fk_componentesXestructura.fk_componetesformacion}}
</a>

 </li>
						 
</ul>
{% endfor %}