{% load filters%}
{% for item  in plan  %}
<ul>
										  
<li>
{% if not  item.fk_componentesXestructura.fk_componetesformacion_id|week:request.user  %}
<a onclick="renderactividades({{item.fk_componentesXestructura.fk_componetesformacion_id}})"  >									 
<i class="fas fa-lock mr-1" style="color: #FF0000 ;" > 					
</i>{{item.fk_componentesXestructura.fk_componetesformacion}}
</a>
{% else %} <a onclick="renderactividades({{item.fk_componentesXestructura.fk_componetesformacion_id}})">
<i class="fas fa-lock-open mr-1" style="color: #00ff00;" > 							
</i>{{item.fk_componentesXestructura.fk_componetesformacion}}
</a>
{% endif %}
 </li>
						 
</ul>
{% endfor %}