{% if title %}
 
   <h3 class="display-4">Aun no ha agregado grupos </h3>
  
{% endif %}
<div id="renderList">
<ul id="menu" class="menu"></ul>
{% for item in data %} 
  
 						
  
<li class="lista-item" >
   <div class="lista-item-inner 
   
   ">
   <div class="card-list-item-icon">
 
      <i class="fas fa-file-contract"></i>
 
   </div>
      <div class="card-list-item-title">{{item.Descripcion}}</div>      
      <div class="card-list-item-actions">
       
        
         <button type="button" id="sortableBtn{{item.if_gruponodo}}" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Ver grupos dependientes"
         onclick="showChilds('{{item.if_gruponodo}}')">
         <i class="fas fa-eye"></i>
         </button>     
         <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Agregar grupo"
         onclick="openAddgruposHijos('{{item.if_gruponodo}}')">
         <i class="fas fa-plus"></i>
         </button>
         <a class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Agregar integrantes"
         href="{% url 'Grupos_integrantes' elemento=item.valor_elemento %}">
         <i class="fas fa-user mr-1"></i>
         </a>
         <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Editar Grupos"
         onclick="openeditgruposPadres('{{item.if_gruponodo}}')">
         <i class="fas fa-edit"></i>
         </button>
         <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Eliminar Grupo"
         onclick="openDeletegrupos('{{item.if_gruponodo}}')">
         <i class="fas fa-trash"></i>
         </button>
      </div>
   </div>
   <div id="hijos{{item.if_gruponodo}}"></div>     
         
         
</li>
  
  					
{% endfor %} 
</ul>
<div class="card-footer">
   <nav class="col-6 m-2" aria-label="Page navigation example">
       <ul class="pagination justify-content-end">
          {% if data.has_previous %}
          <li class="page-item">
             <a class="page-link" onclick="goToTables(1)" href="#">First</a>
             
          </li>
          <li class="page-item">
             
             
             <a class="page-link" href="#" onclick="goToTables('{{ data.previous_page_number }}')"><i class="fas fa-arrow-left"></i></a>
          </li>
          {% endif %}
          
          {% if data.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" onclick="goToTables(`{{ data.number|add:'-5' }}`)" href="#">&hellip;</a></li>
          {% endif %}
          
          {% for i in data.paginator.page_range %}
          {% if data.number == i %}
          <li class="page-item active" aria-current="page">
             <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
             </span>
          </li>
          {% elif i > data.number|add:'-5' and i < data.number|add:'5' %} <li class="page-item"><a
             class="page-link" onclick="goToTables('{{i}}')" href="#">{{ i }}</a></li>
             {% endif %}
             {% endfor %}
             
             {% if data.paginator.num_pages > data.number|add:'4' %}
             <li class="page-item"><a class="page-link" onclick="goToTables(`{{ data.number|add:'5' }}`)" href="#">&hellip;</a></li>
             {% endif %}
    
             {% if data.has_next %}
             <li class="page-item">
                <a class="page-link" onclick="goToTables('{{ data.next_page_number }}')" href="#"><i class="fas fa-arrow-right"></i></a>
             </li>
             <li class="page-item">
                <a class="page-link" onclick="goToTables('{{ data.paginator.num_pages }}')" href="#">Last</a>
             </li>
             
             {% endif %}
          </ul>
       </nav>
    
   </div>  
</div>   
