<section >
   <div class="form-group" id="groupDate">
      <div class="row">
         <div class="card col-6" style="background-color: #1a2035 !important; color: white;">
            <div class="card-body">
               <div id="renderList" class="col-md-12">   
                  {% include 'TabPersonal/carpPlanning/renderProgramas.html' %}  
               </div>
            </div>   
         </div>
         <div class="card col-6" style="background-color: #1a2035 !important; color: white;">
            <div class="card-body">
               <div id="renderpro" class="col-md-12">   
                  <h3 class="display-4">Seleccione una categoria</h3>
               </div>
           </div>   
         </div>
      </div>
  </div>
</section>