{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {

		-webkit-appearance: none;
		margin: 0;

	}

	input[type=number] {

		-moz-appearance: textfield;

	}

</style>

{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Planificacion</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="{% url 'Dashboard' %}">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<span>{{ficha.nombre_ficha}}</span>
				</li>
			</ul>
		</div>
		<div class="page-category">
			<br>
			<div class="page-content">
				<div class="wizard-heading">{{ficha.nombre_ficha}}</div>
				<div class="wizard-v6-content">
					<div class="wizard-form">
						<form class="form-register" id="form-register">
			
							<div id="form-total">
								{% for bloque in bloques%}
								<h2>
									<p class="step-icon"><span>{{forloop.counter}}</span></p>
									<span class="step-text">{{bloque.descrip_bloque}}</span>
								</h2>
								<section>
									<div class="inner">
										<div class="form-heading">
											<h3>{{bloque.descrip_bloque}}</h3>
											<span>{{forloop.counter}}/{{bloques|length}}</span>
										</div>
										{% for atributo in atributos%}
										{% if atributo.fk_ficha_bloque == bloque %}
										{% include 'TabPersonal/carpPlanning/renderBloque.html' with atributo=atributo %}  
										{% endif %}
										{% endfor %} 
									</div>
								</section>
								{% endfor %}
								<input type="submit" value="submit" hidden>
							</div>
						</form>
					</div>
				</div>
			</div>	
			
		</div>
	</div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
	$(document).ready(() => {
			
		$('textarea').text("")

	})
</script>
{% endblock javascripts %}