{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'Dashboard' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
        		<h2>Here we code!</h2>
				<div class="page-content">
					<div class="wizard-heading">{{ficha.nombre_ficha}}</div>
					<div class="wizard-v6-content">
						<div class="wizard-form">
							<form class="form-register" id="form-register" action="#" method="post">
								<div id="form-total">
									<h2>
									</h2>
									<section>
										<div class="inner">
											<div class="form-heading">
												<h3>{{bloque.descrip_bloque}}</h3>
											</div>
											{% for atributo in atributos%}
											{% include 'TabPersonal/carpPlanning/renderBloque.html' with atributo=atributo %}  
											{% endfor %}
										</div>
									</section>
								</div>
							</form>
						</div>
					</div>
				</div>	
				
      		</div>
		</div>
	</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
