{% load i18n %}
{% if atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Texto' %}
<div class="form-row mt-5">
    <div class="form-holder" style="width: 100%;">
        <label class="form-row-inner" style="width: 100%;">
            <input type="text" class="form-control" name="{{atributo.id_atribxfichaxbloq}}" required>
            <span class="label">{{atributo.nombre_atrib}}</span>
        </label>
    </div>
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Texto_Largo' %}
<div class="form-group">
    <label for="comment" style="color: white!important;">{{atributo.nombre_atrib}}</label>
    <textarea class="form-control" rows="5" name="{{atributo.id_atribxfichaxbloq}}" required>
    </textarea>
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Lista' %}
<div class="form-row">
    <div class="form-holder form-holder-2">
        <label for="room" class="special-label-1" style="color: white!important;">{{atributo.nombre_atrib}}</label>
        <select class="form-control" name="{{atributo.id_atribxfichaxbloq}}" required>
            <option value="" disabled selected>{% translate "Seleccione una opcion" %}</option>
            {% if atributo.listaValores %}
            {% for x, y in atributo.listaValores|tosJson %}
            <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <span class="select-btn">
            <i class="zmdi zmdi-chevron-down"></i>
        </span>
    </div>
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Seleccion' %}
<div class="form-check py-0" >
    <label style="color: white!important;">{{atributo.nombre_atrib}}</label><br>
    {% if atributo.listaValores %}
    {% for x, y in atributo.listaValores|tosJson %}
    <label class="form-radio-label">
        <input class="form-radio-input" type="radio" value="{{ y }}" name="{{atributo.id_atribxfichaxbloq}}" required>
        <span class="form-radio-sign" style="color: white!important;">{{ y }}</span>
    </label>
    {% endfor %}
    {% endif %}
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Seleccion_Multiple' %}
<div class="form-group py-0">
    <label class="form-label" style="color: white!important;">{{atributo.nombre_atrib}}</label><br>
    <div class="selectgroup selectgroup-pills">
        {% if atributo.listaValores %}
        {% for x, y in atributo.listaValores|tosJson %}
        <label class="selectgroup-item">
            <input type="checkbox" value="{{ y }}" class="selectgroup-input" name="{{atributo.id_atribxfichaxbloq}}_{{forloop.counter}}" required>
            <span class="selectgroup-button" style="color: white;">{{ y }}</span>
        </label>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Fecha' %}
<div class="form-group form-floating-label">
    <label for="inputFloatingLabel" style="color: white!important;">{{atributo.nombre_atrib}}</label>
    <input type="date" class="form-control input-border-bottom" style="color: white!important;" name="{{atributo.id_atribxfichaxbloq}}" required>
</div>
{% elif atributo.fk_tipodato.valor_elemento == 'Tipo_Atributo_Rango' %}
<label for="day" class="special-label-1 mb-4" style="color: white!important;">{{atributo.nombre_atrib}}</label>
<div class="form-row">
    <div class="form-holder">
        <label class="form-row-inner">
            <input type="number" class="form-control" name="{{atributo.id_atribxfichaxbloq}}_1" required>
            <span class="label">Minimo</span>
        </label>
    </div>
    <div class="form-holder">
        <label class="form-row-inner">
            <input type="number" class="form-control" name="{{atributo.id_atribxfichaxbloq}}_2" required>
            <span class="label">Maximo</span>
        </label>
    </div>
</div>
{% endif %}